<%= render partial: 'spree/shared/error_messages', locals: { target: @image } %>

<div data-hook="file" class="form-group">
  <%= f.label :attachment, Spree.t(:filename) %>
  <%= f.file_field :attachment %>
</div>
<div class="form-group">
  <%= f.label :description, Spree.t(:description) %>
  <%= f.text_area :description, :rows => 4, :class => 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :state, Spree.t(:state) %>
  <%= f.collection_select(:state, CarImage.states, :first, :first, {:prompt => "Select a State"}, { :class=>'form-control', :data=>{ :toggle=>"tooltip", :placement=>"bottom"}, :title=>'Used for project cars only, choose no state if non-project car' } ) %>
</div>


