<%= form_for [:admin, @car], html: { multipart: true } do |f| %>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @car } %>

    <div class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :description, Spree.t(:description) %>
      <%= f.text_area :description, :rows => 4, :class => 'form-control' %>
    </div>

    <% if @car.thumb_image_path %>
      <div data-hook="thumbnail">
        <%= f.label Spree.t(:thumbnail) %>
        <%= link_to image_tag(@car.thumb_image_path), @car.thumb_image_path %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :attachment, Spree.t(:filename) %>
      <%= f.file_field :attachment %>
    </div>

    <div class="form-group">
      <%= f.label :completed_date, Spree.t(:completed_date) %>
      <%= select_date Date.today, prefix: :completed_date %>
    </div>

    <div class="form-group">
      <%= f.check_box :our_car %>
      <%= f.label :our_car, Spree.t(:our_car) %>
    </div>

    <div class="form-group">
      <%= f.check_box :current %>
      <%= f.label :current, Spree.t(:current) %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-success"%>
      <%= link_to 'Back', admin_cars_path, class: "btn btn-default" %> 
    </div>
<% end %>
