<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>All Cars</h2>
      <p class="intro" style="margin-left: 0; margin-right: 0">List of all cars (including our own cars and project cars)</p>
    </div>
    <div class="col-md-4">
      <%= link_to 'New Car', new_admin_car_path, class: "btn btn-primary" %>
    </div>
    <p id="notice"><%= notice %></p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Our Car or Project?</th>
          <th>Current?</th>
          <th># of Images</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @cars.each do |car| %>
          <tr>
            <td><%= image_tag car.thumb, width: 100 %></td>
            <td><%= car.name %></td>
            <td><%= car.our_car ? "Our Car" : "Project Car" %></td>
            <td><%= car.our_car ? "N/A" : (car.current ? "Current" : "Past") %></td>
            <td><%= car.car_images.length %></td>
            <td><%= link_to 'Gallery', car %></td>
            <td><%= link_to 'Edit', edit_admin_car_path(car) %></td>
            <td><%= link_to 'Remove', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
