<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#shop">The Shop</a></li>
				<li role="presentation"><a href="#why">Why JC Auto</a></li>
				<li role="presentation"><a href="#who">Who We Are</a></li>
				<li role="presentation"><a href="#cars">Our Cars</a></li>
				<li role="presentation"><a href="#connect">Connect</a></li>
			</ul>
		</div>
	</div>
</div>

<a name="shop"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>The Shop</h1>
			<p class="intro">
				Proudly serving MoPar fans since 1978, we have been at our current shop, located in Lynnwood, WA, for nearly 15 years. We work surrounded by memorabilia and old parts that represent the era we love. We are only 15 minutes north of Seattle. Stop by to say hi and roam the aisles...you never know what you'll find!
			</p>
		</div>

		<% images = ["shop-1.jpg", "shop-2.jpg", "shop-3.jpg"] %>
		<% first = true %>

		<!-- Main Gallery Image -->
		<% images.each do |image| %>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<!-- div class="gallery_auto"-->
					<%= image_tag image, alt: "Shop Picture", style: "width: 100%", id:"gallery_main" %>
			<!-- /div -->
		</div>	
		<% end %>

	</div><!-- End Row -->
</div>

<div class="image-background" id="the_shop">
	<%= image_tag "Shop Image.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<a name="why"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>Why JC Auto</h1>
				<p class="intro">
					With more than <%= Date.today.year - 1978 %> years in the industry, we like to think our work speaks for itself. However, we also take pride in our ability to serve our customers with a smile. We hold ourselves to high standards of service and customer care. Much of our service work and parts sales is through mail order, and we welcome customers from across the country, as well as internationally.
				</p>
			</div>
			<div class= "col-sm-4 col-md-4" >
				<%= link_to "/policies" do %><%= image_tag "master/customer-service.png", alt: "Customer Service", onmouseover: "document.getElementById('tech1').src='#{asset_path("master/customer-service-hover.png")}'", onmouseout: "document.getElementById('tech1').src='#{asset_path("master/customer-service.png")}'", class:"icon", id:"tech1" %><% end %>
				<!--%= image_tag "master/Tech.png", onmouseover: "this.src='#{asset_path('master/Tech-hover.png')}'", onmouseout: "this.src='#{asset_path('master/Tech.png')}'", class:"icon" %-->
				<h3>Customer Service</h3>
				<p>We've put policies in place to guarantee that we work with you in a respectful and friendly way to get your project just how you like it. Restoring your car should be fun and enjoyable. No matter what your background or level of expertise, we strive to work with you to make the restoration process as easy as possible.</p>
				<!-- Change Tech image on hover -->
				<%= link_to "Our Policies >", "/policies", class: "button-link", onmouseover:"document.getElementById('tech1').src='#{asset_path('master/customer-service-hover.png')}'", onmouseout:"document.getElementById('tech1').src='#{asset_path('master/customer-service.png')}'" %>
				
			</div>
			<div class="col-sm-4 col-md-4">
				<%= link_to "/timeline" do %><%= image_tag "master/history.png", alt: "Our History", onmouseover: "document.getElementById('tech2').src='#{asset_path("master/history-hover.png")}'", onmouseout: "document.getElementById('tech2').src='#{asset_path("master/history.png")}'", class:"icon", id:"tech2" %><% end %>
				<h3>Our History</h3>
				<p>Jeff started working on cars with his father at a young age. He soon grew independent, taking on projects of his own and learning ever since. Now, he and his wife Lisa are proud owners of multiple project cars, and enjoy running their own shop. We are proud of our rich history and enjoy working with our customers!</p>
				<!-- Change Tech image on hover -->
				<%= link_to "JC Auto Timeline >", "/timeline", class:"button-link", onmouseover: "document.getElementById('tech2').src='#{asset_path('master/history-hover.png')}'", onmouseout: "document.getElementById('tech2').src='#{asset_path('master/history.png')}'" %>
			</div>
			<div class="col-sm-4 col-md-4">
				<%= link_to "/gallery" do %><%= image_tag "master/work.png", alt: "Our Work", onmouseover: "document.getElementById('tech3').src='#{asset_path("master/work-hover.png")}'", onmouseout: "document.getElementById('tech3').src='#{asset_path("master/work.png")}'", class:"icon", id:"tech3" %><% end %>
				<h3>Our Experience</h3>
				<p>Our long list of past projects can speak to our attention to detail and the broad spectrum of work that we have taken on. We take pride in the work we do, in the precision and beauty of a job well done. Browse some of the cars we have worked on in the past, and those in progress.</p>
				<%= link_to "Pictures of Our Work >", "/gallery", class:"button-link", onmouseover: "document.getElementById('tech3').src='#{asset_path('master/work-hover.png')}'", onmouseout: "document.getElementById('tech3').src='#{asset_path('master/work.png')}'" %>
			</div>
		</div>
	</div>
</div>

<a name="who"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12" style="text-align: center">
			<h1>Who We Are</h1>
			<p class="intro">We are lucky to have such a wide range of skillsets at our shop. However, we do have a lot in common including, of course, our love of MoPars and Big E Ales next door to the shop.</p>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-4 col-md-4">
				<%= image_tag "people/jeff.jpg", alt: "Jeff Carter", class:"icon", id:"jeff", style: "margin-bottom: 10px" %>
			</div>
			<div class="col-sm-8 col-md-8">
				<h3 style="margin-top: 0px">Jeff Carter</h3>
				<h4>Owner</h4>
				<p>You could say Jeff has been in the automotive industry since the age of 12. Once fueled by his morning (and sometimes afternoon) Starbucks there's nothing Jeff can't do. Find him living the dream at JC Auto Restoration.</p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-4 col-md-4">
				<%= image_tag "people/lisa.jpg", alt: "Lisa Peterson", class:"icon", style: "margin-bottom: 10px" %>
			</div>
			<div class="col-sm-8 col-md-8">
				<h3 style="margin-top: 0px">Lisa Peterson</h3>
				<h4>Co-Owner</h4>
				<p>Lisa has become something of an automotive aficionado due to many years married to the biggest MoPar nerd around. Aside from keeping Jeff in line, Lisa is the proud owner of a stunning red 300B.</p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-4 col-md-4">
				<%= image_tag "people/lindsey.jpg", alt: "Lindsey Long", class:"icon", id:"lindsey", style: "margin-bottom: 10px"  %>
			</div>
			<div class="col-sm-8 col-md-8">
				<h3 style="margin-top: 0px">Lindsey Long</h3>
				<h5>Office Manager</h5>
				<p></p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-4 col-md-4">
				<%= image_tag "people/lyle.jpg", alt: "Lyle Smith", class:"icon", id:"lyle", style: "margin-bottom: 10px"  %>
			</div>
			<div class="col-sm-8 col-md-8">
				<h3 style="margin-top: 0px">Lyle Smith</h3>
				<h5>Gauge Restoration Specialist</h5>
				<p>Hailing from Arizona and an avid Cardinals fan (we try not to hold that against him!) Lyle came to us with a degree in Electrical Engineering from Arizona State as well as an Automotive Tech Degree from Pima College. He has brought a unique skillset to the shop, as well as the great music on his iPod. He is currently learning machine shop skills and plans on adding welding to his already vast resume.</p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-4 col-md-4">
				<%= image_tag "people/ryan.jpg", alt: "Ryan Lacabanne", class:"icon", id:"ryan", style: "margin-bottom: 10px"  %>
			</div>
			<div class="col-sm-8 col-md-8">
				<h3 style="margin-top: 0px">Ryan Lacabanne</h3>
				<h5>Gauge Restoration Assistant</h5>
				<p>Chef in his former life, Ryan now spends his days working at JC Auto Restoration and his nights jamming on his guitar or watching Frozen with his daughter. </p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-4 col-md-4">
				<%= image_tag "people/karla.jpg", alt: "Karla Holman", class:"icon", id:"karla", style: "margin-bottom: 10px" %>
			</div>
			<div class="col-sm-8 col-md-8">
				<h3 style="margin-top: 0px">Karla Holman</h3>
				<h5>Web and Database Design</h5>
				<p>A technical geek in the computer sense (not the automotive), Karla joined JC Auto in 2015 to help construct a new E-Commerce site. She comes to us with a degree in Computer Science from UC San Diego and certificate in User-Centered Design from Seattle's own University of Washington.</p>
			</div>
		</div>
	</div>
</div>

<a name="cars"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<div class="col-md-12">
				<h1>Our Cars</h1>
				<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
					<%= link_to "Edit Cars", admin_cars_path, class: "btn btn-success admin-button" %>
				<% end %>
				<p class="intro">
					Perhaps we take so much pride in our work because, as car owners ourselves, we would expect nothing less on our own projects. The world of MoPar is exciting, from the cars to the community. We are happy to be a part of that in both our personal and professional lives with a fleet of our own cars.
				</p>
			</div>

			<% @our_cars.each_with_index do |car, index| %>
			<div class="col-xs-12 col-sm-6 col-md-4 col-centered">
				<%= link_to car do %>
				<%= image_tag car.thumb_image_path, alt: car.name, class: "icon-retro", style: "margin-bottom: 20px" %>
				<% end %>
				<div class="clearfix visible-xs"></div>
				<%= link_to car.name, car, class: "button-link" %>

				<!-- Add break to right location -->
				<% if index === 1 %>
					<!-- handle sm screen -->
					<div class="clearfix visible-sm"></div>
					<div class="spacer visible-sm"></div>
				<% elsif index === 2 %>
					<!-- handle md and lg screen -->
					<div class="clearfix visible-md visible-lg"></div>
					<div class="spacer visible-md visible-lg"></div>
				<% elsif index === 3 %>
					<!-- handle sm screen -->
					<div class="clearfix visible-sm"></div>
					<div class="spacer visible-sm"></div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="image-background" id="our_cars">
	<%= image_tag "Car Image.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<a name="connect"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Connect With Us</h1>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Send us a Message</h3>
			<p>Have a question or comment? Let us know!</p>
			<%= form_tag submit_contact_jcautohome_index_path do %>
				<div class="form-group">
					<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= email_field(:user, :address, placeholder: "Email (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= text_area_tag(:message, "", size: "25x5", style:"height: 50px;", placeholder: "Message", class: "form-control") %>
				</div>
								
				<% if Spree::Captcha::Config[:use_captcha] %>
					<%= recaptcha_tags public_key: Spree::Captcha::Config[:public_key], display: { theme: Spree::Captcha::Config[:theme] } %>
				<% end %>

				<div class="clearfix"></div>
				<%= submit_tag("Submit Form", class: "btn btn-default") %>
			<% end %>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Find Us at a Show</h3>
			<p>
				We love a good car show, and it gives us a great opportunity to meet other people who are passionate about MoPars.
			</p>
			<p>
				Drop by our booth and say hello at one of the upcoming shows!
			</p>
			<%= link_to "Upcoming Shows >", events_path, class:"button-link" %>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-sm-6 col-md-3">
			<h3>Visit the Shop</h3>
			<p>
				Drop by any time we are open, from 8am to 5pm PST, Monday through Friday. Come check out some of the projects we are working on up close and get a look at our inventory.
			</p>
			<p>
				<strong>Our location:</strong>
			</p>
			<p>
				20815 52nd Ave W, Suite 2
				Lynnwood, WA 98036
			</p>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Start a Project</h3>
			<p>Have a project in mind? Need help getting started? Let us get you on your way!</p>
			<p>
				<ul class="mopar-list">
					<li><%= link_to "Find Parts", "/parts" %></li>
					<li><%= link_to "Learn About Services", "/our-services" %></li>
					<li><%= link_to "Get a Gift Card (coming soon!)", "/about#connect", class: "disabled" %></li>
					<li>
						<%= link_to "Start a Wishlist", spree.new_wishlist_path %>
					</li>
				</ul>
			</p>
		</div>
	</div>
</div>

<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->