<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#shop">The Shop</a></li>
				<li role="presentation"><a href="#why">Why JC Auto</a></li>
				<li role="presentation"><a href="#who">Who We Are</a></li>
				<li role="presentation"><a href="#cars">Our Cars</a></li>
				<li role="presentation"><a href="#connect">Connect</a></li>
			</ul>
		</div>
	</div>
</div>

<a name="shop"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>The Shop</h1>
			<p class="intro">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</p>
		</div>

		<% images = ["shop-1.jpg", "shop-2.jpg", "shop-3.jpg"] %>
		<% first = true %>

		<!-- Main Gallery Image -->
		<% images.each do |image| %>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<!-- div class="gallery_auto"-->
					<%= image_tag image, style: "width: 100%", id:"gallery_main" %>
			<!-- /div -->
		</div>	
		<% end %>

	</div><!-- End Row -->
</div>

<div class="image-background" id="the_shop">
	<%= image_tag "Shop Image.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<a name="why"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>Why JC Auto</h1>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class= "col-sm-4 col-md-4" >
				<%= image_tag "master/Tech.png", class:"icon", id:"tech1" %>
				<!--%= image_tag "master/Tech.png", onmouseover: "this.src='#{asset_path('master/Tech-hover.png')}'", onmouseout: "this.src='#{asset_path('master/Tech.png')}'", class:"icon" %-->
				<h3>Customer Service</h3>
				<p>We pride ourselves on ensuring that every customer is served to the best of our abilities. We've put policies in place to guarantee that we work with you in a respectful and friendly way to get your project just how you like it.</p>
				<!-- Change Tech image on hover -->
				<%= link_to "Find Parts >", "/about", class: "button-link", onmouseover:"document.getElementById('tech1').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech1').src='#{asset_path('master/Tech.png')}'" %>
				
			</div>
			<div class="col-sm-4 col-md-4">
				<%= image_tag "master/Tech2.png", class:"icon", id:"tech2" %>
				<h3>Our History</h3>
				<p>We have been serving MoPar fans since 1978 and we are proud of our history here in the Northwest. Learn more about how JC Auto Restoration came to be, along with some facts about our current team and operation.</p>
				<!-- Change Tech image on hover -->
				<%= link_to "Services >", "/about", class:"button-link", onmouseover: "document.getElementById('tech2').src='#{asset_path('master/Tech2-hover.png')}'", onmouseout: "document.getElementById('tech2').src='#{asset_path('master/Tech2.png')}'" %>
			</div>
			<div class="col-sm-4 col-md-4">
				<%= image_tag "master/Tech3.png", class:"icon", id:"tech3" %>
				<h3>Our Work</h3>
				<p>Our long list of past projects can speak to our attention to detail and the broad spectrum of projects that we have taken on. Browse some of the cars we have worked on in the past, and those in progress.</p>
				<%= link_to "Learn More >", "/gallery", class:"button-link", onmouseover: "document.getElementById('tech3').src='#{asset_path('master/Tech3-hover.png')}'", onmouseout: "document.getElementById('tech3').src='#{asset_path('master/Tech3.png')}'" %>
			</div>
		</div>
	</div>
</div>

<a name="who"></a>
<div class="container">
	<div class="row text-center row-centered">
		<div class="col-md-12">
			<h1>Who We Are</h1>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-3">
			<%= image_tag "people/jeff.png", class:"icon" %>
			<h3>Jeff Carter</h3>
			<h4>Owner</h4>
			<p>Jeff has been in the industry since the young age of 12</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3">
			<%= image_tag "people/lisa.png", class:"icon" %>
			<h3>Lisa Peterson</h3>
			<h4>Co-Owner</h4>
			<p>Jeff has been in the industry since the young age of 12</p>
		</div>
		<div class="clearfix visible-sm visible-md-block visible-lg-block"></div>
		<div class="spacer visible-sm visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-centered">
			<%= image_tag "people/lisa.png", class:"icon" %>
			<h3>Lisa Peterson</h3>
			<h4>Co-Owner</h4>
			<p>Jeff has been in the industry since the young age of 12</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-centered">
			<%= image_tag "people/lisa.png", class:"icon" %>
			<h3>Lisa Peterson</h3>
			<h4>Co-Owner</h4>
			<p>Jeff has been in the industry since the young age of 12</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-centered">
			<%= image_tag "people/lisa.png", class:"icon" %>
			<h3>Lisa Peterson</h3>
			<h4>Co-Owner</h4>
			<p>Jeff has been in the industry since the young age of 12</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 col-centered">
			<%= image_tag "people/karla.png", class:"icon" %>
			<h3>Karla Holman</h3>
			<h4>Web and Database Design</h4>
			<p>Jeff has been in the industry since the young age of 12</p>
		</div>
	</div>
</div>

<a name="cars"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<div class="col-md-12">
				<h1>Our Cars</h1>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>

			<% @our_cars.each_with_index do |car, index| %>
			<div class="col-xs-12 col-sm-6 col-md-4 col-centered">
				<%= image_tag car.thumb, class: "icon-retro", style: "margin-bottom: 20px" %>
				<div class="clearfix visible-xs"></div>
				<%= link_to car.name, car, class: "button-link" %>

				<!-- Add break to right location -->
				<% if index === 1 %>
					<!-- handle sm screen -->
					<div class="clearfix visible-sm"></div>
					<div class="spacer visible-sm"></div>
				<% elsif index === 2 %>
					<!-- handle md and lg screen -->
					<div class="clearfix visible-md visible-lg"></div>
					<div class="spacer visible-md visible-lg"></div>
				<% elsif index === 3 %>
					<!-- handle sm screen -->
					<div class="clearfix visible-sm"></div>
					<div class="spacer visible-sm"></div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="image-background" id="our_cars">
	<%= image_tag "Car Image.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<a name="connect"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Connect With Us</h1>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Send us a Message</h3>
			<p>Have a question or comment? Let us know!</p>
			<%= form_tag submit_contact_jcautohome_index_path do %>
				<div class="form-group">
					<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= email_field(:user, :address, placeholder: "Email (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= text_area_tag(:message, "", size: "25x5", style:"height: 50px;", placeholder: "Message", class: "form-control") %>
				</div>
				<%= submit_tag("Submit Form", class: "btn btn-default") %>
			<% end %>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Find Us at a Show</h3>
			<p>
				We love a good car show, and it gives us a great opportunity to meet other people who are passionate about MoPars.
			</p>
			<p>
				Here is a list of shows we'll be attending over the next couple of months. Drop by our booth and say hello!
			</p>
			<%= link_to "Upcoming Shows >", "/", class:"button-link" %>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-sm-6 col-md-3">
			<h3>Visit the Shop</h3>
			<p>
				Drop by any time we are open from 8am to 5pm, Monday through Friday. Come check out some of the projects we are working on up close and get a look at our inventory.
			</p>
			<p>
				<strong>Our location:</strong>
			</p>
			<p>
				20815 52nd Ave W, Suite 2
				Lynnwood, WA 98036
			</p>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Start a Project</h3>
			<p>Have a project in mind? Need help getting started? Let us get you on your way!</p>
			<ul class="mopar-list" style="font-family: 'Open Sans'">
				<li><%= link_to "Find Parts", root_path %></li>
				<li><%= link_to "Learn About Services", root_path %></li>
				<li><%= link_to "Get a Gift Card", root_path %></li>
				<li><%= link_to "Start a Wish List", root_path %></li>
			</ul>
		</div>
	</div>
</div>

<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->