<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#shop">The Shop</a></li>
				<li role="presentation"><a href="#why">Why JC Auto</a></li>
				<li role="presentation"><a href="#who">Who We Are</a></li>
				<li role="presentation"><a href="#cars">Our Cars</a></li>
				<li role="presentation"><a href="#connect">Connect</a></li>
			</ul>
		</div>
	</div>
</div>

<a name="shop"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>The Shop</h1>
			<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
					<%= link_to "Edit Shop Pics", admin_shop_images_path, class: "btn btn-success admin-button" %>
			<% end %>
			<p class="intro">
				Proudly serving MoPar fans since 1978, we have been at our current shop in Lynnwood, WA for nearly <%=Date.today.year - 2000 %> years. We work surrounded by memorabilia and old parts that represent the era we love. We are only 15 minutes north of Seattle. Stop by to say hi and roam the aisles...you never know what you'll find!
			</p>
		</div>

		<% images = ["shop-1.jpg", "shop-2.jpg", "shop-3.jpg"] %>
		<% first = true %>

		<!-- Main Gallery Image -->
		<% images.each do |image| %>
		<div class="col-xs-12 col-sm-4 col-md-4">
			<!-- div class="gallery_auto"-->
					<%= image_tag image, alt: "Shop Picture", style: "width: 100%", id:"gallery_main" %>
			<!-- /div -->
		</div>
		<% end %>
		<!--I would really like to adjust the spacing of this so that the more photos link is lower and not right up against the base of the three photos. -->
		<div class="col-md-12 text-center">
		<h3><center><strong><%= link_to "More Shop Photos here", '/shop_images/index' %></strong></center></h3>
		</div>
	</div><!-- End Row -->
</div>

<div class="image-background" id="the_shop">
	<%= image_tag "Shop Image.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<a name="why"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>Why JC Auto</h1>
				<p class="intro">
					With more than <%= Date.today.year - 1978 %> years in the industry, we like to think our work speaks for itself. However, we also take pride in our ability to serve our customers with a smile. We hold ourselves to high standards of service and customer care. Much of our service work and parts sales is through mail order, and we welcome customers from across the country, as well as internationally.
				</p>
			</div>
			<div class= "col-sm-4 col-md-4" >
				<%= link_to "/policies" do %><%= image_tag "master/customer-service.png", alt: "Customer Service", onmouseover: "document.getElementById('tech1').src='#{asset_path("master/customer-service-hover.png")}'", onmouseout: "document.getElementById('tech1').src='#{asset_path("master/customer-service.png")}'", class:"icon", id:"tech1" %><% end %>
				<!--%= image_tag "master/Tech.png", onmouseover: "this.src='#{asset_path('master/Tech-hover.png')}'", onmouseout: "this.src='#{asset_path('master/Tech.png')}'", class:"icon" %-->
				<h3>Customer Service</h3>
				<p>We've put policies in place to guarantee that we work with you in a respectful and friendly way to get your project just how you like it. Restoring your car should be fun and enjoyable. No matter what your background or level of expertise, we strive to work with you to make the restoration process as easy as possible.</p>
				<!-- Change Tech image on hover -->
				<%= link_to "Our Policies >", "/policies", class: "button-link", onmouseover:"document.getElementById('tech1').src='#{asset_path('master/customer-service-hover.png')}'", onmouseout:"document.getElementById('tech1').src='#{asset_path('master/customer-service.png')}'" %>

			</div>
			<div class="col-sm-4 col-md-4">
				<%= link_to "/timeline" do %><%= image_tag "master/history.png", alt: "Our History", onmouseover: "document.getElementById('tech2').src='#{asset_path("master/history-hover.png")}'", onmouseout: "document.getElementById('tech2').src='#{asset_path("master/history.png")}'", class:"icon", id:"tech2" %><% end %>
				<h3>Our History</h3>
				<p>Jeff started working on cars with his father at a young age. He soon grew independent, taking on projects of his own and learning ever since. Now, he and his wife Lisa are proud owners of multiple project cars, and enjoy running their own shop. We are proud of our rich history and enjoy working with our customers!</p>
				<!-- Change Tech image on hover -->
				<%= link_to "JC Auto Timeline >", "/timeline", class:"button-link", onmouseover: "document.getElementById('tech2').src='#{asset_path('master/history-hover.png')}'", onmouseout: "document.getElementById('tech2').src='#{asset_path('master/history.png')}'" %>
			</div>
			<div class="col-sm-4 col-md-4">
				<%= link_to "/gallery" do %><%= image_tag "master/work.png", alt: "Our Work", onmouseover: "document.getElementById('tech3').src='#{asset_path("master/work-hover.png")}'", onmouseout: "document.getElementById('tech3').src='#{asset_path("master/work.png")}'", class:"icon", id:"tech3" %><% end %>
				<h3>Our Experience</h3>
				<p>Our long list of past projects can speak to our attention to detail and the broad spectrum of work that we have taken on. We take pride in the work we do and the precision and beauty of a job well done. Browse some of the cars we have worked on in the past, and those in progress.</p>
				<%= link_to "Pictures of Our Work >", "/gallery", class:"button-link", onmouseover: "document.getElementById('tech3').src='#{asset_path('master/work-hover.png')}'", onmouseout: "document.getElementById('tech3').src='#{asset_path('master/work.png')}'" %>
			</div>
		</div>
	</div>
</div>

<a name="who"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12" style="text-align: center">
			<h1>Who We Are</h1>
			<p class="intro">We are lucky to have such a wide range of skillsets at our shop. Nevertheless, we do have a lot in common including, of course, our love of MoPars and Big E Ales.</p>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-6 col-md-4">
				<%= image_tag "people/jeff.jpg", alt: "Jeff Carter", class:"icon", id:"jeff", style: "margin-bottom: 10px" %>
			</div>
			<div class="col-sm-6 col-md-8">
				<h3 style="margin-top: -5px; margin-bottom: 10px">Jeff Carter</h3>
				<h5 style="margin: 5px 0">Owner</h4>
				<p>You could say Jeff has been in the automotive industry since before he was old enough to grow a moustache. His love of MoPar automobiles drove him to start his own restoration business. Jeff opened JC Auto Restoration, Inc. in 1978. Over the years, he and his wife Lisa have integrated themselves into the MoPar community, travelling to MoPar events and helping many other auto enthusiasts with their projects.</p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-6 col-md-4">
				<%= image_tag "people/lisa.jpg", alt: "Lisa Peterson", class:"icon", style: "margin-bottom: 10px" %>
			</div>
			<div class="col-sm-6 col-md-8">
				<h3 style="margin-top: -5px; margin-bottom: 10px">Lisa Peterson</h3>
				<h5 style="margin: 5px 0" >Co-Owner</h4>
				<p>When Lisa first met Jeff she rode a bicycle.  That changed pretty quickly! Lisa has become something of an automotive aficionado due to many years of being married to the biggest MoPar nerd around. She loves nothing better than a long road trip in one of their MoPars, and has been known to maybe, just maybe, push the speed limit on those long open stretches of highway in Montana.</p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-6 col-md-4">
				<%= image_tag "people/ryan.jpg", alt: "Ryan Lacabanne", class:"icon", id:"ryan", style: "margin-bottom: 10px"  %>
			</div>
			<div class="col-sm-6 col-md-8">
				<h3 style="margin-top: -5px; margin-bottom: 10px">Ryan Lacabanne</h3>
				<h5 style="margin: 5px 0">Gauge Restoration Specialist</h5>
				<p>Chef in his former life, Ryan now spends his days working at JC Auto Restoration and his nights jamming on his guitar or watching Frozen with his daughter. </p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-6 col-md-4">
				<%= image_tag "people/jen.jpg", alt: "Jen Pope", class:"icon", id:"jen", style: "margin-bottom: 10px"  %>
			</div>
			<div class="col-sm-6 col-md-8">
				<h3 style="margin-top: -5px; margin-bottom: 10px">Jen Pope</h3>
				<h5 style="margin: 5px 0">Office Manager and Customer Service</h5>
				<p>When Jen isn't working at JC Auto, she is chasing her youngest daughter to her soccer games.  She and her husband are season ticket holders for the Seattle Sounders. She brings a wealth of expertise in customer support, and a marvelous sense of humor.</p>
			</div>
		</div>
		<div class="spacer visible-md visible-lg"></div>
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="col-sm-6 col-md-4">
				<%= image_tag "people/karla.jpg", alt: "Karla Pollowitz", class:"icon", id:"karla", style: "margin-bottom: 10px" %>
			</div>
			<div class="col-sm-6 col-md-8">
				<h3 style="margin-top: -5px; margin-bottom: 10px">Karla Pollowitz</h3>
				<h5 style="margin: 5px 0">IT Consultant</h5>
				<p>A nerd in the computer field (not the automotive), Karla joined JC Auto in 2015 to add a modern touch to a seasoned industry. In a few short months, she has constructed the new E-Commerce site that you see now before you. Away from the shop, Karla trains frequently for marathons, putting in more miles on a weekly basis than most do in their car.</p>
			</div>
		</div>
	</div>
</div>

<a name="cars"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<div class="col-md-12">
				<h1>Our Cars</h1>
				<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
					<%= link_to "Edit Cars", admin_cars_path, class: "btn btn-success admin-button" %>
				<% end %>
				<p class="intro">
					Perhaps we take so much pride in our work because, as car owners ourselves, we would expect nothing less on our own projects. The world of MoPar is exciting, from the cars to the community. We are are proud to celebrate our passion in both our personal and professional lives with a fleet of our own cars. 
					<strong>Note: </strong>Click on car names for more pictures.
				</p>
			</div>

			<% @our_cars.each_with_index do |car, index| %>
			<div class="col-xs-12 col-sm-6 col-md-4 col-centered">
				<%= link_to car do %>
				<%= image_tag car.thumb_image_path, alt: car.name, class: "icon-retro", style: "margin-bottom: 20px" %>
				<% end %>
				<div class="clearfix visible-xs"></div>
				<%= link_to car.name, car, class: "button-link" %>

				<!-- Add break to right location -->
				<% if index === 1 %>
					<!-- handle sm screen -->
					<div class="clearfix visible-sm"></div>
					<div class="spacer visible-sm"></div>
				<% elsif index === 2 %>
					<!-- handle md and lg screen -->
					<div class="clearfix visible-md visible-lg"></div>
					<div class="spacer visible-md visible-lg"></div>
				<% elsif index === 3 %>
					<!-- handle sm screen -->
					<div class="clearfix visible-sm"></div>
					<div class="spacer visible-sm"></div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="image-background" id="our_cars">
	<%= image_tag "Car Image.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<a name="connect"></a>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Connect With Us</h1>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Send us a Message</h3>
			<p>Have a question or comment? Let us know!</p>
			<%= form_tag submit_contact_jcautohome_index_path do %>
				<div class="form-group">
					<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= email_field(:user, :address, placeholder: "Email (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= text_area_tag(:message, "", size: "25x5", style:"height: 50px;", placeholder: "Message", class: "form-control") %>
				</div>

				<!--% if Spree::Captcha::Config[:use_captcha] %-->
					<!--%= recaptcha_tags public_key: Spree::Captcha::Config[:public_key], display: { theme: Spree::Captcha::Config[:theme] } %-->
				<!--% end %-->

				<div class="clearfix"></div>
				<%= submit_tag("Submit Form", class: "btn btn-default") %>
			<% end %>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Find Us at a Show</h3>
			<p>
				We love a good car show, and it gives us a great opportunity to meet other people who are passionate about MoPars.
			</p>
			<p>
				Drop by our booth and say hello at one of the upcoming shows!
			</p>
			<%= link_to "Upcoming Shows >", events_path, class:"button-link" %>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="col-sm-6 col-md-3">
			<h3>Visit the Shop</h3>
			<p>
				<!--Should this be changed to Monday thru Thursday? -->
				Drop by any time! We are open from 8am to 5pm PST, Monday through Friday. Come check out some of the projects and get an up close and get a look at our inventory.
			</p>
			<p>
				<strong>Our location:</strong>
			</p>
			<p>
				20815 52nd Ave W, Suite 2
				Lynnwood, WA 98036
			</p>
		</div>
		<div class="col-sm-6 col-md-3">
			<h3>Start a Project</h3>
			<p>Have a project in mind? Need help getting started? Let us get you on your way!</p>
			<p>
				<ul class="mopar-list">
					<li><%= link_to "Find Parts", "/parts" %></li>
					<li><%= link_to "Learn About Services", "/our-services" %></li>
					<li><%= link_to "Get a Gift Card (coming soon!)", "/about#connect", class: "disabled" %></li>
					<li>
						<%= link_to "Start a Wishlist", spree.new_wishlist_path %>
					</li>
				</ul>
			</p>
		</div>
	</div>
</div>

<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->
