<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center" style="padding-left: 0;">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#community">Community</a></li>
				<li role="presentation"><a href="#social">Social</a></li>
				<li role="presentation"><a href="#friend">Invite a Friend</a></li>
			</ul>
		</div>
	</div>
</div>

<a name="community">
<div class="container">
	<div class="row text-center">
		<div class="col-md-12">
			<h1>Welcome to Our MoPar Community</h1>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "tech1" %>
			<h3>Discussion Forum</h3>
			<p>
				Have a project question? Submit it to the customers of JC Auto for answers! We will try to jump in the discussion and help when we can.
			</P>
			<%= link_to "Join the Conversation >", "/", class: "button-link", onmouseover:"document.getElementById('tech1').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech1').src='#{asset_path('master/Tech.png')}'" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "tech2" %>
			<h3>Your Stories</h3>
			<p>
				Want to learn about projects that other customers are working on? Check out some great stories here, or share your own great project.
			</P>
			<%= link_to "Your Stories >", "/", class: "button-link", onmouseover:"document.getElementById('tech2').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech2').src='#{asset_path('master/Tech.png')}'" %>
		</div>
		<div class="clearfix visible-md visible-sm"></div>
		<div class="spacer visible-md visible-sm"></div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "tech3" %>
			<h3>JC Auto Blog</h3>
			<p>
				Every day brings a new project or challenge to the JC Auto team, and we want to share what we learn and see. Find out what goes on at the shop.
			</P>
			<%= link_to "Blog >", "/", class: "button-link", onmouseover:"document.getElementById('tech3').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech3').src='#{asset_path('master/Tech.png')}'" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "tech4" %>
			<h3>MoPar Ladies</h3>
			<p>
				We know there are many ladies out there who appreciate the experience of life around cars. Find resources for fashion, trends, and tips.
			</P>
			<%= link_to "Join the Conversation >", "/", class: "button-link", onmouseover:"document.getElementById('tech4').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech4').src='#{asset_path('master/Tech.png')}'" %>
		</div>
	</div><!-- End Row -->
</div>

<a name="social">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<div class="col-md-12">
				<h1>Get Social</h1>
				<p class="intro">
					Connect with us on social media to see the latest happenings at the shop and stay up to date with events and news in the MoPar community.
				</p>
			</div>
			<div class= "col-md-4">
				<div class="fb-post hidden" data-href="https://www.facebook.com/jcautorestorationinc/posts/456642741175615" data-width="500">
					<div class="fb-xfbml-parse-ignore">
						<blockquote cite="https://www.facebook.com/jcautorestorationinc/posts/456642741175615">
							<p>Upcoming car show in JC Auto&#039;s neck of the woods. Any of our Facebook fans plan on attending? If the weather stays like it has been it should be a great day for a car show!</p>Posted by <a href="https://www.facebook.com/jcautorestorationinc/">JC Auto Restoration, Inc.</a> on&nbsp;<a href="https://www.facebook.com/jcautorestorationinc/posts/456642741175615" target="_blank">Thursday, July 9, 2015</a>
						</blockquote>
					</div>
				</div>
				<div class="fb-page" data-href="https://www.facebook.com/jcautorestorationinc/info/?tab=overview" data-tabs="timeline" data-width="100%" data-height="400px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/jcautorestorationinc/info/?tab=overview"><a href="https://www.facebook.com/jcautorestorationinc/info/?tab=overview" target="_blank">JC Auto Restoration, Inc.</a></blockquote></div></div>
			</div><!-- Col -->
			<div class="col-md-4">
				<a class="twitter-timeline" href="https://twitter.com/JCAutoRestore" data-widget-id="675450719063814144" target="_blank">Tweets by @JCAutoRestore</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default" style="float: center; height: 400px; max-width: 500px; text-align: center; margin: 0 auto;">
					<div class="panel-heading" style="height: 43px;">
						<div class="col-xs-8 col-sm-8 col-md-8" style="text-align: left; margin-bottom: 0px">
							<h5 class="panel-title">Instagram</h5>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right">
							<style>.ig-b- { display: inline-block; }
							.ig-b- img { visibility: hidden; }
							.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
							.ig-b-24 { width: 24px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
							@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
							.ig-b-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png); background-size: 60px 178px; } }</style>
							<a href="https://www.instagram.com/jcautorestoration/?ref=badge" class="ig-b- ig-b-24" target="_blank"><img src="//badges.instagram.com/static/images/ig-badge-24.png" alt="Instagram" /></a>
						</div>
					</div>
					<div class="panel-body" style="overflow-y: scroll; max-height: 350px">
						<!-- INSTANSIVE WIDGET --><script src="//instansive.com/widget/js/instansive.js"></script><iframe src="//instansive.com/widgets/6e2f1cbc9a4400505c53e11b702fbdc243b04d76.html" id="instansive_6e2f1cbc9a" name="instansive_6e2f1cbc9a"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<a name="friend">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Invite a Friend</h1>
			<p class="intro">
				Know someone who is interested in cars? Help them get the parts and services they need for a project! 
			</p>
		</div>
		<div class="col-sm-4 col-md-2">
			<%= image_tag "master/Tech.png", class:"icon" %>
			<%= button_tag "Gift Cards >", class:"btn btn-text" %>
		</div>
		<div class="col-sm-8 col-md-4">
			<h3>Get a gift card</h3>
			<p>
				Gift cards at JC Auto are good for parts and services! You can get a gift card for any amount you specify. You will get a receipt and the gift card will be delivered to the email address you choose. No email address? Print a copy of the gift card instead.
			</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="spacer visible-sm"></div>
		<div class="col-sm-4 col-md-2">
			<%= image_tag "master/Tech.png", class:"icon" %>
			<%= button_tag "Wish Lists >", class:"btn btn-text" %>
		</div>
		<div class="col-sm-8 col-md-4">
			<h3>Make a Wish List</h3>
			<p>
				Gift cards at JC Auto are good for parts and services! You can get a gift card for any amount you specify. You will get a receipt and the gift card will be delivered to the email address you choose. No email address? Print a copy of the gift card instead.
			</p>
		</div>
	</div>
</div>