<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center" style="padding-left: 0;">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#community">Community</a></li>
				<li role="presentation"><a href="#social">Social</a></li>
				<li role="presentation"><a href="#friend">Invite a Friend</a></li>
			</ul>
		</div>
	</div>
</div>

<a name="community">
<div class="container">
	<div class="row text-center">
		<div class="col-md-12">
			<h1>Welcome to Our MoPar Community</h1>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "Tech1" %>
			<h3>Discussion Forum</h3>
			<p>
				Have a project question? Submit it to the customers of JC Auto for answers! We will try to jump in the discussion and help when we can.
			</P>
			<%= link_to "Join the Conversation >", "/", class: "button-link", onmouseover:"document.getElementById('tech1').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech1').src='#{asset_path('master/Tech.png')}'" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "Tech2" %>
			<h3>Your Stories</h3>
			<p>
				Want to learn about projects that other customers are working on? Check out some great stories here, or share your own great project.
			</P>
			<%= link_to "Your Stories >", "/", class: "button-link", onmouseover:"document.getElementById('tech2').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech2').src='#{asset_path('master/Tech.png')}'" %>
		</div>
		<div class="clearfix visible-md visible-sm"></div>
		<div class="spacer visible-md visible-sm"></div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "Tech3" %>
			<h3>JC Auto Blog</h3>
			<p>
				Every day brings a new project or challenge to the JC Auto team, and we want to share what we learn and see. Find out what goes on at the shop.
			</P>
			<%= link_to "Blog >", "/", class: "button-link", onmouseover:"document.getElementById('tech3').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech3').src='#{asset_path('master/Tech.png')}'" %>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-3">
			<%= image_tag "master/Tech.png", id: "Tech4" %>
			<h3>MoPar Ladies</h3>
			<p>
				We know there are many ladies out there who appreciate the experience of life around cars. Find resources for fashion, trends, and tips.
			</P>
			<%= link_to "Join the Conversation >", "/", class: "button-link", onmouseover:"document.getElementById('tech4').src='#{asset_path('master/Tech-hover.png')}'", onmouseout:"document.getElementById('tech4').src='#{asset_path('master/Tech.png')}'" %>
		</div>
	</div><!-- End Row -->
</div>

<a name="social">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>Get Social</h1>
				<p class="intro">
					Connect with us on social media to see the latest happenings at the shop and stay up to date with events and news in the MoPar community.
				</p>
			</div>
			<div class= "col-md-4" >
				<div class="fb-page" data-href="http://www.facebook.com/jcautorestoration" data-tabs="timeline, events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="http://www.facebook.com/jcautorestoration"><a href="http://www.facebook.com/jcautorestoration">JC Auto Restoration Inc.</a></blockquote></div></div>
			</div>
			<div class="col-md-4">
				<%= image_tag "master/Tech2.png", class:"icon", id:"tech2" %>
				<h3>Our History</h3>
				<p>We are one of the largest suppliers of MoPar parts with an inventory holding hundreds of thousands of parts. CHeck out our online inventory for a vast supply of parts and memorabilia.</p>
				<!-- Change Tech image on hover -->
				<%= button_tag "Services >", class:"btn btn-text", onmouseover: "document.getElementById('tech2').src='#{asset_path('master/Tech2-hover.png')}'", onmouseout: "document.getElementById('tech2').src='#{asset_path('master/Tech2.png')}'" %>
			</div>
			<div class="col-md-4">
				<%= image_tag "master/Tech3.png", class:"icon", id:"tech3" %>
				<h3>Our Work</h3>
				<p>We are one of the largest suppliers of MoPar parts with an inventory holding hundreds of thousands of parts. CHeck out our online inventory for a vast supply of parts and memorabilia.</p>
				<%= button_tag "Learn More >", class:"btn btn-text", onmouseover: "document.getElementById('tech3').src='#{asset_path('master/Tech3-hover.png')}'", onmouseout: "document.getElementById('tech3').src='#{asset_path('master/Tech3.png')}'" %>
			</div>
		</div>
	</div>
</div>

<a name="friend">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>Invite a Friend</h1>
			<p class="intro">
				Know someone who is interested in cars? Help them get the parts and services they need for a project! 
			</p>
		</div>
		<div class="col-sm-4 col-md-2">
			<%= image_tag "master/Tech.png", class:"icon" %>
			<%= button_tag "Gift Cards >", class:"btn btn-text" %>
		</div>
		<div class="col-sm-8 col-md-4">
			<h3>Get a gift card</h3>
			<p>
				Gift cards at JC Auto are good for parts and services! You can get a gift card for any amount you specify. You will get a receipt and the gift card will be delivered to the email address you choose. No email address? Print a copy of the gift card instead.
			</p>
		</div>
		<div class="clearfix visible-sm"></div>
		<div class="spacer visible-sm"></div>
		<div class="col-sm-4 col-md-2">
			<%= image_tag "master/Tech.png", class:"icon" %>
			<%= button_tag "Wish Lists >", class:"btn btn-text" %>
		</div>
		<div class="col-sm-8 col-md-4">
			<h3>Make a Wish List</h3>
			<p>
				Gift cards at JC Auto are good for parts and services! You can get a gift card for any amount you specify. You will get a receipt and the gift card will be delivered to the email address you choose. No email address? Print a copy of the gift card instead.
			</p>
		</div>
	</div>
</div>



<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->