<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#current">Current Projects</a></li>
				<li role="presentation"><a href="#past">Past Projects</a></li>
				<li role="presentation"><a href="#events">Car Events</a></li>
			</ul>
		</div>
	</div>
</div>

<a name="current"></a>
<div class="container text-center">
	<div class="row text-center">
		<div class="col-md-12">
			<h1>Current Projects</h1>
			<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
				<%= link_to "Edit Projects", admin_cars_path, class: "btn btn-success admin-button" %>
			<% end %>
			<p class="intro">
				There is always a lot going on at the shop! Check back regularly to see how these projects are going.
			</p>
		</div>
		<% @current_projects.each_with_index do |car, index| %>
		<div class="col-xs-12 col-sm-6 col-md-4 col-centered">
			<%= link_to car do %>
			<%= image_tag car.thumb_image_path, alt: car.name, class: "icon-retro", style: "margin-bottom: 20px" %>
			<% end %>
			<div class="clearfix visible-xs"></div>
			<%= link_to car.name, car, class: "button-link" %>

			<!-- Add break to right location -->
			<% if (index+1) % 3 === 0 %>
				<!-- handle md and lg screen -->
				<div class="clearfix visible-md visible-lg"></div>
				<div class="spacer visible-md visible-lg"></div>
			<% elsif (index+1) % 2 === 0 %>
				<!-- handle sm screen -->
				<div class="clearfix visible-sm"></div>
				<div class="spacer visible-sm"></div>
			<% elsif (index+1) % 1 === 0 %>
				<!-- handle xs screen -->
				<div class="clearfix visible-xs"></div>
				<div class="spacer visible-xs"></div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>

<a name="past"></a>
<div class="container-yellow">
	<div class="container text-center">
		<div class="row text-center">
			<div class="col-md-12">
				<h1>Past Projects</h1>
				<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
					<%= link_to "Edit Projects", admin_cars_path, class: "btn btn-success admin-button" %>
				<% end %>
				<p class="intro">
					Get an up close look at some of our previous projects. Although we specialize in MoPar restoration, you will occasionally find other brands such as Honda, Ford, and Oldsmobile in our shop. No matter what the project or make, we will deliver quality results that come from over 35 years of experience.
				</p>
			</div>
			<% @past_projects.each_with_index do |car, index| %>
			<div class="col-xs-12 col-sm-6 col-md-4 col-centered">
				<%= link_to car do %>
				<%= image_tag car.thumb_image_path, alt: car.name, class: "icon-retro", style: "margin-bottom: 20px" %>
				<% end %>
				<div class="clearfix visible-xs"></div>
				<%= link_to car.name, car, class: "button-link" %>

				<!-- Add break to right location -->
				<% if (index+1) % 3 === 0 %>
					<!-- handle md and lg screen -->
					<div class="clearfix visible-md visible-lg"></div>
					<div class="spacer visible-md visible-lg"></div>
				<% elsif (index+1) % 2 === 0 %>
					<!-- handle sm screen -->
					<div class="clearfix visible-sm"></div>
					<div class="spacer visible-sm"></div>
				<% elsif (index+1) % 1 === 0 %>
					<!-- handle xs screen -->
					<div class="clearfix visible-xs"></div>
					<div class="spacer visible-xs"></div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<a name="events"></a>
<div class="container">
	<div class="row row-centered">
		<div class="col-md-12 text-center">
			<h1>Events</h1>
			<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
				<%= link_to "Edit Events", admin_events_path, class: "btn btn-success admin-button" %>
			<% end %>
			<p class="intro">
				When we aren't in the shop we still want to be around cars! We've had the opportunity to attend many car shows and events. Here are some pictures from our adventures.
			</p>
		</div>
		<div class="col-md-12 text-center">
			<hr>

			<h3>Select Event</h3>
		</div>
		<!-- List all past events -->
		<% if @past_events.length == 0 %>
			<h5 style="text-align: center">No past events yet. Check back soon to see where we go!</h5>
		<% else %>
			<% @past_events.each do |event| %>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered" id="events">
				<% image_array = "[" %>
				<% caption_array = "[" %>
				<% event.event_images.each do |image| %>
					<% image_array += '"' + "#{image.attachment.url(:large)}" + '",' %>
					<% caption_array += '"' + "#{image.description}" + '",' %>
				<% end %>
				<% image_array.chomp!(",") %>
				<% caption_array.chomp!(",") %>
				<% image_array += "]" %>
				<% caption_array += "]" %>
				<%= link_to event, :data => { :images => image_array, :captions => caption_array, :name => event.name, :date => event.event_date.strftime("%a, %B %e, %Y"), :description => event.description }, class:"button-link" do %><br>
					<%= image_tag event.attachment.url(:thumb), alt: event.name, class:"icon" %>
					<div class="clearfix visible-xs"></div>
					<%= event.name %>
				<% end %>
				<p><%= event.event_date.strftime("%B %e, %Y") %></p>
			</div>
			<% end %>
		<% end %>
		<hr>
	</div>
	<% if @past_events.length > 0 %>
	<div class="row row-centered">

		<% images = @past_events.first.event_images %>
		<% first = true %>

		<% if images.length == 0 %>
			<h5 style="text-align: center">No images available for this event.</h5>
		<% else %>

			<!-- Full Mobile Gallery -->
			<div class="gallery_container_mobile" style="position: relative; top: 0; left:0;">
				<%= link_to "/", class: "gallery-arrow-left", id: "mobile-left" do %>

				<% end %>
				<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%", class: "gallery_main" %>
				<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%; visibility: hidden; display: none", class:"placeholder" %>
				<%= link_to "/", class: "gallery-arrow-right", id: "mobile-right" do %>

				<% end %>
			</div>

			<!-- Main Gallery Image -->
			<div class="col-md-9">
				<div class="gallery_container">
					<%= link_to "/", class: "gallery-arrow-left" do %>
						<%= image_tag "arrow-02.png", alt: "previous", id: "previous" %>
					<% end %>
						<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%", class:"gallery_main" %>
						<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%; visibility: hidden; display: none", class:"placeholder" %>
					<%= link_to "/", class: "gallery-arrow-right" do %>
						<%= image_tag "arrow-01.png", alt: "next", id: "next" %>
					<% end %>
				</div><!-- Gallery -->
				<div id="caption">
					<p id="caption-text"><%= images[0].description.html_safe %></p>
				</div>


				<span id="thumbs">
				<% images.each do |image| %>
					<div class="col-xs-2 col-sm-2 col-md-2 col-centered <%= first ? "thumb_selected" : "" %>" id="imageGallery_thumb">
						<a href= <%= "#{image.attachment.url(:large)}" %> >
							<%= image_tag image.attachment.url(:thumb), alt: image.description, class: "icon", :data => { :path => "#{image.attachment.url(:large)}", :state => "Images" } %>
						</a>
						<% if first %>
							<% first = false %>
						<% end %>
					</div>
				<% end %>	
				</span>	
			</div><!-- Column -->
		<% end %>
		<div id="info" class="col-md-3">
			<h3 id="name"><%= @past_events.first.name %></h3>
			<h4 id="date"><%= @past_events.first.event_date.strftime("%a, %B %e, %Y") %></h4>
			<p id="description"><%= @past_events.first.description.html_safe %></p>
		</div>
	</div><!-- Row -->
	<% end %>
</div>

<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->