<div class="container">
	<div class="row">
		<h1>Test Page</h1>
		<%= link_to "Products", spree.products_path %>
	</div>
	<div class="row">
		<h1>Vintage Icons</h1>
		<div class="col-md-3">
			<%= image_tag "vintage/Calendar.png", onmouseover: "this.src='#{asset_path('vintage/Calendar-hover.png')}'", onmouseout: "this.src='#{asset_path('vintage/Calendar.png')}'" %>
			<h3>Events</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "vintage/Search.png", onmouseover: "this.src='#{asset_path('vintage/Search-hover.png')}'", onmouseout: "this.src='#{asset_path('vintage/Search.png')}'" %>
			<h3>Search</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "vintage/Settings.png", onmouseover: "this.src='#{asset_path('vintage/Settings-hover.png')}'", onmouseout: "this.src='#{asset_path('vintage/Settings.png')}'" %>
			<h3>Settings</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "vintage/Email.png", onmouseover: "this.src='#{asset_path('vintage/Email-hover.png')}'", onmouseout: "this.src='#{asset_path('vintage/Email.png')}'" %>
			<h3>Email</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
	</div>
	<div class="row">
		<hr>

		<h1>Gauge Icons</h1>
		<div class="col-md-3">
			<%= image_tag "gauge/calendar.png", onmouseover: "this.src='#{asset_path('gauge/calendar-hover.png')}'", onmouseout: "this.src='#{asset_path('gauge/calendar.png')}'" %>
			<h3>Events</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "gauge/Search.png", onmouseover: "this.src='#{asset_path('gauge/Search-hover.png')}'", onmouseout: "this.src='#{asset_path('gauge/Search.png')}'" %>
			<h3>Search</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "gauge/Settings.png", onmouseover: "this.src='#{asset_path('gauge/Settings-hover.png')}'", onmouseout: "this.src='#{asset_path('gauge/Settings.png')}'" %>
			<h3>Settings</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "gauge/Email.png", onmouseover: "this.src='#{asset_path('gauge/Email-hover.png')}'", onmouseout: "this.src='#{asset_path('gauge/Email.png')}'" %>
			<h3>Email</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
	</div>
	<div class="row">
		<h1>Distressed Icons</h1>
		<div class="col-md-3">
			<%= image_tag "distress/calendar.png", onmouseover: "this.src='#{asset_path('distress/calendar-hover.png')}'", onmouseout: "this.src='#{asset_path('distress/calendar.png')}'" %>
			<h3>Events</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "distress/Search.png", onmouseover: "this.src='#{asset_path('distress/Search-hover.png')}'", onmouseout: "this.src='#{asset_path('distress/Search.png')}'" %>
			<h3>Search</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "distress/Settings.png", onmouseover: "this.src='#{asset_path('distress/Settings-hover.png')}'", onmouseout: "this.src='#{asset_path('distress/Settings.png')}'" %>
			<h3>Settings</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div class="col-md-3">
			<%= image_tag "distress/email.png", onmouseover: "this.src='#{asset_path('distress/email-hover.png')}'", onmouseout: "this.src='#{asset_path('distress/email.png')}'" %>
			<h3>Email</h3>
			<p>We like to attend car shows as well as hold our own events here at the shop.</p>
		</div>
		<div style="clear: both"></div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<%= javascript_include_tag "image-hover.js" %>
</body>
</div>