<% 
  filters = []

  # filter makes
  filters << Spree::Core::ProductFilters.by_make if Spree::Core::ProductFilters.respond_to?(:by_make) 

  # filter models (according to make selected)
  Spree::Make.all.each do |make|
    filters << Spree::Core::ProductFilters.by_model(make.id) if Spree::Core::ProductFilters.respond_to?(:by_model)
  end

  # filter years
  filters << Spree::Core::ProductFilters.by_year if Spree::Core::ProductFilters.respond_to?(:by_year) 

%>

<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#browse">Browse</a></li>
				<li role="presentation"><a href="#promo">Promotions</a></li>
				<li role="presentation"><a href="#feature">Featured Parts</a></li>
				<li role="presentation"><a href="#request">Parts Request</a></li>
				<li role="presentation"><a href="#sell">Sell Parts</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Store link -->
<div class="image-background" id="the_inventory">
	<div class="container">
		<div class="row row-centered text-center">
			<h1 class="inverse">JC Auto Store</h1>
			<p class="intro inverse">
				<span id="odometer" class="odometer inverse" style="font-size: 1.5em; margin-bottom: 10px"><%= Spree::Product.all.length %></span>
				<br> <strong>unique parts available online</strong></br><br>Use this page to find the parts you need. Due to the overwhelming number of parts in stock, we are updating our online catalog daily. If you don’t find the part you’re looking for online, please fill out the part request form <a href="#request" style="color: #ffe100; font-weight: 500">here</a>.</p>
		</div>
	</div>
</div>

<!-- Search bar -->
<div class="container-yellow">
	<div class="container">
		<div class="row" style="margin: 0">
		<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
		<%= form_tag spree.products_path, style: "padding: 0px;", :method => :get, class: "navbar-form" do %>

			<div class="col-xs-12 col-md-2">
				<p class="intro" style="margin: 10px 0 0 0; width: 100%">Find Parts:</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<div class="form-group" style="width: 100%">
					<!--%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %-->
					<%= search_field_tag :keywords, params[:keywords], :placeholder => "Search for parts", class: "form-control", style:"width: 100%"%>
				</div>
			</div>
			<div class="col-xs-12 col-md-2">
				<%= submit_tag Spree.t(:search), :name => nil, class: "btn btn-primary", style: "width: 100%; margin-top: 5px" %>
			</div>
		<% end %>
		</div>
	</div>
</div>

<!-- Part Group -->
<a name="browse"></a>
<div class="image-background" id="the_inventory">
<div class="container">
	<div class="row text-center row-centered">
		<div class="col-md-12">
			<h1 class="inverse">Browse by Part Category</h1>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 part-tiles col-centered">
			<%= link_to spree.products_path({:search => {:created_at_gteq => "prev_week"}}) do %>
				<p class="inverse" style="margin-bottom: 50px;"><span class="badge" style="margin-right: 10px; background-color: #fff; color: #200099"><%= @new.length %></span>parts uploaded to our store last week.</p>
				<div style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: #7966c2; margin-top: 20px">
					<h5 class="inverse">View Recently Uploaded</h5>
				</div>
			<% end %>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 part-tiles col-centered">
			<%= link_to(spree.nested_taxons_path(@packages.taxons.first.permalink)) do %>
				<p class="inverse" style="margin-bottom: 50px;">We group parts for your convenience.</p>
				<div style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: #7966c2; margin-top: 20px">
					<h5 class="inverse">View Packages and Assemblies</h5>
				</div>
			<% end %>
		</div>
		<!-- Use buttons on large devices -->
		<div class="hidden-xs">
			<% counter = 1 %>
			<% # my_array = [] %>
			<% @part_groups_taxon_children.each do |group| %>
			<% # my_array.each do |group| %>
				<div class= "col-sm-4 col-md-3 col-lg-2 col-centered" style="padding: 0">
					<%= link_to spree.nested_taxons_path(group.permalink) do %>
					<div class="part-tiles">
						<!--div class="col-sm-6 col-md-6"-->
							<%= image_tag group.icon.url(:large), class:"icon", style: "margin-bottom: 50px; width: 80%" %>
						<!--/div-->
						<div style="position: absolute; bottom: 0; width: 100%; background-color: #7966c2; margin-top: 20px">
							<h5 style="color: #fff;"><%= group.name %></h5>
						</div>
						<!--div class="clearfix"></div-->
					</div>
					<% end %>
				</div>

				<!-- Add row breaks -->

				<% if counter % 6 == 0 && counter % 4 == 0 && counter % 3 == 0 %>
					<div class="clearfix hidden-xs-block"></div>
				<% elsif counter % 3 == 0 %>
					<div class="clearfix visible-sm-block"></div>
				<% elsif counter % 4 == 0 %>
					<div class="clearfix visible-md-block"></div>
				<% elsif counter % 6 == 0 %>
					<div class="clearfix visible-lg-block"></div>
				<% end %>
				<% counter += 1 %>

			<% end %>
		</div>

		<!-- Use dropdown on mobile -->
		<div class="dropdown visible-xs text-left col-xs-12">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="width: 100%">
				Select Part Category
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: 20px; right: 20px">
				<% @part_groups_taxon_children.each do |group| %>
					<li><%= link_to group.name, spree.nested_taxons_path(group.permalink), class: "button-link" %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
</div>

<!-- Body Type -->
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<h1>Browse by Application</h1>
			<p class="intro">Find parts that fit your current car or project here.</p>
			<!-- Loop through each filter -->
			<%= form_tag spree.products_path, :method => :get, :id => 'sidebar_products_search' do %>
		    <% filters.each do |filter| %>
		      <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
		      <% next if labels.empty? %>
		      <div class="col-xs-12 col-sm-12 col-md-3 col-centered navigation">
	        	<h5 class="filter-title"><%= filter[:name] %></h5
		        <!-- Handle drop down for long lists -->
	        	<% collection = [] %>
            <% selected = [] %>
            <% labels.each do |nm,val| %>
              <% label = val.to_i %>
              <% component = [nm, label] %>
              <% 
                if params[:search] && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s)
                  selected = component
                end
               %>
              <% collection << component %>
            <% end %>

            <div class="form-group">
              <%= select_tag "search[#{filter[:scope].to_s}]", options_for_select(collection, selected), {prompt: "All", class: "form-control"} %>
            </div>
					</div>
				<% end %>
				<div class="col-centered col-md-3">
					<h5 style="visibility: hidden">Go!</h5>
					<%= submit_tag Spree.t(:search), :name => nil, :class => 'btn btn-primary', style: "width: 100%; margin-top: -5px" %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<!-- Promotions -->
<a name="promo"></a>
<div class="container">
	<div class="row text-center" style="margin-bottom: 0; padding-bottom: 0">
		<h1>Promotions and Deals</h1>
		<p class="intro">
			With parts always coming in and out of our shop, there are plenty of opportunities for deals and discounts to make sure we have the space we need! Check here often for new promotions to make sure you can complete your project for a bargain!
		</p>
	</div>
	<div class="row text-center">
		<% found_promotion = false %>
		<% if @promotions.length == 0 %>
			<p>There are no discounts or promotions available at this time. Please check back soon!</p>
		<% else %>
			<div id="carousel-promotions" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner mobile-center" role="listbox">
					<% first = true %>
					<% @promotions.each_with_index do |promotion, i| %>
						<% next if promotion.expired? %> 
						<% 		
							found_promotion = true
							taxon_rules = promotion.rules.where("type ILIKE ?", "%taxon%")
							product_rules = promotion.rules.where("type ILIKE ?", "%product%")

							product_rules_match = []
							product_rules.each do |rule|
								next if rule.preferences[:match_policy] == "none"
								product_rules_match << rule
							end
						%>

				    <div class="item <%= i+1 == 1 ? "active" : "" %>">
				      <div class="col-md-12">
				        <h3 style="color: #bf210a; margin-top: 0px;"><%= promotion.name %></h3>
				        <% if promotion.description %>
				        	<p style="font-weight: 700; margin-bottom: 0px; color: #200099"><%= promotion.description %></p>
					      <% else %>
					        N/A
					      <% end %>

						    <!-- Valid dates -->  
					      <% if promotion.expires_at && promotion.starts_at %>
						      <p style="margin-bottom: 0px">
						      	Valid from <%= promotion.starts_at.strftime("%m/%d/%Y") %> to <%= promotion.expires_at.strftime("%m/%d/%Y") %>
						      </p>
					      <% end %>

					      <!-- Taxons -->
					      <p style="margin-bottom: 0px">
					      	<% if taxon_rules.length > 0 %>
					      		<% has_taxons = true %>
						      	Applicable Part Categories:
						      	<% taxon_rules.each_with_index do |taxon, i| %>
						      		<%= link_to taxon.taxons.first.name, spree.nested_taxons_path(taxon.taxons.first.permalink) %><%= i + 1 == taxon_rules.length ? "" : "," %> 
					      		<% end %>

					      		<!-- If products also specified -->
					      		<% if product_rules_match.length > 0 %>
					      			&#149;
					      			Applicable Parts:
					      			<% product_rules_match.each_with_index do |product, i| %>
							      	<%= link_to product.products.first.name, spree.product_path(product.products.first) %><%= i + 1 == product_rules_match.length ? "" : "," %>
							      	<% end %>
							      <% end %>

					      	<!-- Products (no taxons) -->
					      	<% elsif product_rules_match.length > 0 %>
							      Applicable Parts:
							      <% product_rules_match.each_with_index do |product, i| %>
							      	<% next if product.preferences[:match_policy] == "none" %>
							      	<% no_part = false %>
							      	<%= link_to product.products.first.name, spree.product_path(product.products.first) %><%= i + 1 == product_rules_match.length ? "" : "," %>
							      <% end %>

							    <!-- Applies to all products -->  
							    <% else %>
							    	Applicable Parts: 
							    	<%= link_to "All", spree.products_path %>
							    <% end %>
						    </p>

						    <!-- Coupon code -->
					      <p style="font-size: 1.5em; margin-top: 30px">Use code <span style="font-weight: 700; margin-bottom: 0px; color: #bf210a;"><%= promotion.code %></span></p>

					      <!-- Store button -->
					      <%= link_to spree.products_path, class: "btn btn-primary btn-lg", style: "margin-top: 20px" do %><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Shop Now<% end %>
				      </div><!-- Col -->      
				    </div><!-- item -->
					<% end %>
				</div><!-- Carousel inner -->

				<% if !found_promotion %>
					<p>There are no discounts or promotions available at this time. Please check back soon!</p>
				<% end %>

				<!-- Controls -->
				<% if @promotions.length > 1 && found_promotion %>
					<a class="left carousel-control" href="#carousel-promotions" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-promotions" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<div class="image-background" id="the_parts">
	<%= image_tag "The-Parts-1.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<!-- Featured Products -->
<a name="feature"></a>
<div class="container">
	<div class="row text-center" style="margin-bottom: 0; padding-bottom: 0">
		<h1>Packages and Assemblies</h1>
		<p class="intro">
			We often come across difficult to find packages, or we'll restore and assemble something ourselves.
		</p>
	</div>
	<div class="row">
		<% if @package_taxon_children.length == 0 %>
			<p style="text-align: center">There are no packages or assemblies available at this time. Please check back soon!</p>
		<% else %>
			<div id="carousel-packages" class="carousel slide" data-ride="carousel">
				<!-- Wrapper for slides -->
				<div class="carousel-inner mobile-center" role="listbox">
					<% first = true %>
					<% @package_taxon_children.each_with_index do |package, i| %>
				    <div class="item <%= i+1 == 1 ? "active" : "" %>">
				    	<div class="col-md-5" style="text-align:center">
								<% url = spree.product_url(package) %>
				      	<!-- Image -->
				      	<% 
				      		if package.variant_images.empty?
				      			image = "noimage/product.png"
				      		else 
				      			image = package.variant_images.first.attachment.url("product")
				      		end
				      	%>
				      	<%= link_to url do %><%= image_tag image %><% end %>
				      </div>
				      <div class="col-md-7">
				        <h3><%= link_to truncate(package.property("Part Number"), length: 50), url, itemprop: "name", title: package.property("Part Number") %></h3>
				        <% if package.description %>
				        <p style="font-weight: 700; margin-bottom: 0px; color: #bf210a"><%= link_to url, class: 'info' do %><%= package.description %><% end %></p>
				      <% else %>
				        N/A
				      <% end %>
				      <strong>Cross References:</strong> 
				      <!-- Only show chrysler numbers -->
				      <% cross_found = false %>
				      <% if !package.product_properties.where("property_id=?", 3).empty? %>
				        <% package.property("Cross Reference").split(",").each_with_index do |cross, index| %>
				          <% if matches = cross.strip.match(/(\d{7})/) %>
				              <%= ((index != 0 && cross_found) ? ", " : "") + matches[1] %> 
				              <% cross_found = true %>
				          <% end %>
				        <% end %>
				      <% end %>
				      <% if !cross_found %>
				        N/A
				      <% end %><br>
				      <strong>Applications:</strong> 
				      <% if package.product_applications.empty? %> 
				        N/A
				      <% else %>
				          <% len = package.product_applications.length %>
				          <% package.product_applications.order('start_year asc').each_with_index do |product_application, index| %>
				              <%= product_application.name.strip %><%= index+1 == len ? "" : ", " %>
				          <% end %>
				      <% end %>
				      </div>      
				    </div><!-- item -->
					<% end %>
				</div><!-- Carousel inner -->

				<!-- Controls -->
				<% if @package_taxon_children.length > 1 %>
					<a class="left carousel-control" href="#carousel-packages" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-packages" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				<% end %>
			</div>
		<% end %>
	</div>
</div>

<!-- New Part Listings -->
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered" style="margin-bottom: 0; padding-bottom: 0">
			<h1>Featured Parts</h1>
			<p class="intro">
				Sometimes we have a ton of parts we need to get off our hands. Check these parts for great prices.
			</p>
		</div>
		<div class="row">
			<% if @featured_taxon.products.length == 0 %>
				<p style="text-align: center">There are no featured products at this time. Please check back soon!</p>
			<% else %>
				<div id="carousel-new" class="carousel slide" data-ride="carousel">
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner mobile-center" role="listbox">
				  	<% first = true %>
				  	<% @featured_taxon.products.each_with_index do |new_prod, i| %>
					    <div class="item <%= i+1 == 1 ? "active" : "" %>">
					    	<div class="col-md-5" style="text-align:center">
									<% url = spree.product_url(new_prod) %>
					      	<!-- Image -->
					      	<% 
					      		if new_prod.variant_images.empty?
					      			image = "noimage/product.png"
					      		else 
					      			image = new_prod.variant_images.first.attachment.url("product")
					      		end
					      	%>
					      	<%= link_to url do %><%= image_tag image %><% end %>
					      </div>
					      <div class="col-md-7">
					        <h3><%= link_to truncate(new_prod.property("Part Number"), length: 50), url, itemprop: "name", title: new_prod.property("Part Number") %></h3>
					        <% if new_prod.description %>
				            <p style="font-weight: 700; margin-bottom: 0px; color: #bf210a"><%= link_to url, class: 'info' do %><%= new_prod.description %><% end %></p>
				          <% else %>
				            N/A
				          <% end %>
				          <strong>Cross References:</strong> 
				          <!-- Only show chrysler numbers -->
				          <% cross_found = false %>
				          <% if !new_prod.product_properties.where("property_id=?", 3).empty? %>
				            <% new_prod.property("Cross Reference").split(",").each_with_index do |cross, index| %>
				              <% if matches = cross.strip.match(/(\d{7})/) %>
				                  <%= ((index != 0 && cross_found) ? ", " : "") + matches[1] %> 
				                  <% cross_found = true %>
				              <% end %>
				            <% end %>
				          <% end %>
				          <% if !cross_found %>
				            N/A
				          <% end %><br>
				          <strong>Applications:</strong> 
				          <% if new_prod.product_applications.empty? %> 
				            N/A
				          <% else %>
				              <% len = new_prod.product_applications.length %>
				              <% new_prod.product_applications.order('start_year asc').each_with_index do |product_application, index| %>
				                  <%= product_application.name.strip %><%= index+1 == len ? "" : ", " %>
				              <% end %>
				          <% end %>
					      </div>      
					    </div><!-- item -->
						<% end %>
					</div><!-- Carousel inner -->

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-new" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-new" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			<% end %>
		</div><!-- row -->
	</div>
</div>

<!-- Request Parts -->
<a name="request"></a>
<div class="container">
	<div class="row text-center">
		<h1>Parts Requests</h1>
		<p class="intro">
			Tell us what you are looking for and we'll see if we have it in stock. Most likely we'll be able to help you find the part you need!
		</p>
		<%= form_tag submit_contact_jcautohome_index_path, multipart: true do %>
		<div class="col-md-6">
			<div class="form-group">
				<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
			</div>
			<div class="form-group">
				<%= telephone_field(:user, :phone, placeholder: "Phone (required)", :required => true, class: "form-control", style: "width: 47%; float: left; margin-right: 6%") %>
			</div>
			<div class="form-group">
				<%= email_field(:user, :address, placeholder: "Email", class: "form-control", style: "width: 47%") %>
			</div>
			<div class="form-group">
				<%= search_field(:user, :part_numbers, placeholder: "Requested Part Number or Cast Number", class: "form-control") %>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<%= text_area_tag(:message, "", size: "25x5", style:"height: 150px;", placeholder: "Additional information (desired condition and/or application)", class: "form-control") %>
			</div>
		</div>
		<div class="col-md-12">
			<%= submit_tag("Submit Form", class: "btn btn-default") %>
			<!-- button type="submit" class="btn btn-default">Submit Form</button -->
		</div>
		<% end %>
		<div id="content" class="col-md-12" style="margin-top: 25px">
			<%= flash_alert(flash) %>
		</div>
	</div>
</div>

<div class="image-background" id="the_parts_2">
	<%= image_tag "The-Parts-2.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<!-- Sell to Us -->
<a name="sell"></a>
<div class="container">
	<div class="row text-center">
		<h1>Sell to Us</h1>
		<p class="intro">
			Have some extra parts? We are always interested in purchasing inventories of NOS MoPar parts, any quantity. Let us know what you have and we'll be in touch.
		</p>
		<%= form_tag submit_contact_jcautohome_index_path, multipart: true do %>
			<div class="col-md-6">
				<div class="form-group">
					<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= telephone_field(:user, :phone, placeholder: "Phone (required)", :required => true, class: "form-control", style: "width: 47%; float: left; margin-right: 6%") %>
				</div>
				<div class="form-group">
					<%= email_field(:user, :address, placeholder: "Email", class: "form-control", style: "width: 47%") %>
				</div>
				<div class="form-group">
					<%= search_field(:user, :sell_part_numbers, placeholder: "Part Number or Cast Number", class: "form-control") %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= text_area_tag(:message, "", size: "25x5", style:"height: 95px;", placeholder: "Tell us about the part (condition, application, description, desired price)", class: "form-control") %>
				</div>
				<div class="form-group">
					<%= label_tag("images", "Upload images: Hold Ctrl key (or Cmd key on Mac) to select multiple files in browser window (max 5, 2MB each)", style: "display: inline; margin-right: 10px") %>
					<%= file_field_tag("images[]", accept: 'image/png,image/gif,image/jpeg', multiple: true, style: "display: inline") %>
				</div>
			</div>
			<div class="col-md-12">
				<!--% if Spree::Captcha::Config[:use_captcha] %-->
					<!--%= recaptcha_tags public_key: Spree::Captcha::Config[:public_key], display: { theme: Spree::Captcha::Config[:theme] } %-->
				<!--% end %-->
				<!-- button type="submit" class="btn btn-default">Submit Form</button -->
			</div>
			<div class="col-md-12">
				<%= submit_tag("Submit Form", class: "btn btn-default") %>
				<!-- button type="submit" class="btn btn-default">Submit Form</button -->
			</div>
		<% end %>
		<div id="content" class="col-md-12" style="margin-top: 25px">
			<%= flash_alert(flash) %>
		</div>
	</div>
</div>

<!-- Contact -->
<a name="contact"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row text-center" style="padding: 5px 0 0 0; margin: 0">
			<h3 style="display: inline-block">Can't find the part you need?</h3>
			<%= link_to "Contact Us", "/contact", class: "button-link", style: "display: inline-block" %>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
    check_models();

    var el = document.querySelector('.odometer');

		od = new Odometer({
		  el: el,
		  value: 100,

		  // Any option (other than auto and selector) can be passed in here
		  format: '',
		  theme: 'car'
		});

    setTimeout(function() {
     	console.log("Changing odometer to <%= Spree::Product.all.length %>");
			// $('.odometer').html("<%= Spree::Product.all.length %>");
			od.update(<%= Spree::Product.all.length %>);
    }, 1000);

  });

  $("#search_product_applications_application_make_id_eq").change( function(){
    check_models();
  });

  // change models available based on make selected
  function check_models() {
    $("select[name='search[product_applications_application_model_id_eq]']").each( function(){
      var make_name = $("#search_product_applications_application_make_id_eq option:selected").text().split(" ");
      var model_name = $(this).parent().siblings("h5").html().split(" ");
      if( model_name[4] == make_name[0] ) {
        $(this).prop( "disabled", false );
        $(this).parents(".navigation").show();
      } else {
        $(this).parents(".navigation").hide();
        $(this).prop( "disabled", true );
      }
    });
  }

</script>


<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->