<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#part">Browse</a></li>
				<li role="presentation"><a href="#body">Find Body Type</a></li>
				<li role="presentation"><a href="#feature">Features</a></li>
				<li role="presentation"><a href="#new">New Parts</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-yellow">
	<div class="container">
		<div class="row" style="margin: 0">
			<div class="col-xs-12 col-md-2">
				<p class="intro" style="margin: 10px 0 0 0; width: 100%">Find Parts:</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

				<%= form_tag spree.products_path, style: "padding: 0px;", :method => :get, class: "navbar-form" do %>
				<!--div class="form-group">
				<% cache(cache_key_for_taxons) do %>
				<%= select_tag :taxon,
				options_for_select([[Spree.t(:all_departments), '']] +
				@taxons.map {|t| [t.name, t.id]},
				@taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control" %>
				<% end %>
				</div -->
				<div class="form-group" style="width: 100%">
					<!--%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %-->
					<%= search_field_tag :keywords, params[:keywords], :placeholder => "Search for parts", class: "form-control", style:"width: 100%"%>
				</div>
			</div>
			<div class="col-xs-12 col-md-2">
				<%= submit_tag Spree.t(:search), :name => nil, class: "btn btn-primary", style: "width: 100%; margin-top: 5px" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- Part Group -->
<a name="part">
<div class="container">
	<div class="row text-center row-centered">
		<h1>Browse by Part Category</h1>

		<!-- Use buttons on large devices -->
		<div class="hidden-xs">
			<% counter = 1 %>
			<% @part_groups_taxon_children.each do |group| %>
				
				<div class= "col-sm-3 col-md-2 col-centered" style="margin-bottom: 20px;" >
					<%= link_to group.name, class: "button-link" do %><%= image_tag group.icon_file_name, class:"icon" %><% end %>
					<p><%= link_to group.name, spree.nested_taxons_path(group.permalink), class: "button-link" %></p>
				</div>

				<!-- Add row breaks -->

				<% if counter % 6 == 0 && counter % 4 == 0 %>
					<div class="clearfix hidden-xs-block"></div>
				<% elsif counter % 4 == 0 %>
					<div class="clearfix visible-sm-block"></div>
				<% elsif counter % 6 == 0 %>
					<div class="clearfix visible-md-block visible-lg-block"></div>
				<% end %>
				<% counter += 1 %>

			<% end %>
		</div>

		<!-- Use dropdown on mobile -->
		<div class="dropdown visible-xs text-left col-xs-12">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="width: 100%">
				Select Part Category
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: 20px; right: 20px">
				<% @part_groups_taxon_children.each do |group| %>
					<li><%= link_to group.name, spree.nested_taxons_path(group.permalink), class: "button-link" %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<!-- Body Type -->
<a name="body">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<h1>Browse by Body Type</h1>
			<% @body_types_taxon_children.each do |body| %>
			<div class="col-xs-6 col-sm-4 col-md-3 col-centered">
				<%= image_tag body.image_path, class:"icon" %>
				<%= link_to body.name, spree.nested_taxons_path(body.permalink), class: "button-link" %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="image-background" id="the_parts">
	<%= image_tag "The Parts.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<!-- Featured Products -->
<a name="feature">
<div class="container">
	<div class="row text-center">
		<h1>Features and Deals</h1>
		<p class="intro">
			We've got plenty of parts we'd love to sell. Check back regularly for new deals!
		</p>
		<% if @featured_taxon_children.length == 0 %>
			<p>There are no featured products at this time. Please check back soon!</p>
		<% else %>
			<% @featured_taxon_children.each do |featured| %>
			<div class="col-md-3">
				<%= image_tag "cars/Car-20.png", class:"icon" %>
				<%= link_to featured.name, spree.nested_taxons_path(featured.permalink), class: "button-link" %>
			</div>
			<% end %>
		<% end %>
	</div>
</div>

<!-- New Part Listings -->
<a name="new">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center">
			<h1>New Part Listings</h1>
			<p class="intro">
				Couldn't find something before? Check back here to see if we've picked up any parts you need!
			</p>
			<% if @new_taxon_children.length == 0 %>
				<p>There are no new products at this time. Please check back soon!</p>
			<% else %>
				<% @new_taxon_children.each do |new_prod| %>
				<div class="col-md-3">
					<%= image_tag "cars/Car-20.png", class:"icon" %>
					<%= link_to new_prod.name, spree.nested_taxons_path(new_prod.permalink), class: "button-link" %>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<div class="image-background" id="the_parts">
	<%= image_tag "The Parts.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<!-- Sell to Us -->
<a name="sell">
<div class="container">
	<div class="row text-center">
		<h1>Sell to Us</h1>
		<p class="intro">
			Have some extra parts? Let us know what you have and we'll be in touch.
		</p>
		<form>
		<div class="col-md-6">
			<div class="form-group">
				<!-- <label for="customerName">Full name</label> -->
				<input type="name" class="form-control" id="customerName" placeholder="Name">
			</div>
			<div class="form-group">
				<!-- <label for="customerName">Full name</label> -->
				<input type="phone" class="form-control" id="customerPhone" placeholder="Phone Number" style="width: 47%; float: left; margin-right: 6%">
				<!-- <label for="customerEmail">Email address</label> -->
				<input type="email" class="form-control" id="customerEmail" placeholder="Email" style="width: 47%">
			</div>
			<div class="form-group">
				<!-- <label for="customerEmail">Email address</label> -->
				<input type="text" class="form-control" id="partNumber" placeholder="Part Number or Cast Number">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<!-- <label for="partDescription">Tell us about the part</label> -->
				<input type="textarea" class="form-control" id="partDescription" placeholder="Tell us about the part (condition, application, description)" style="height: 150px;">
			</div>
		</div>
		<div class="col-md-12">
			<button type="submit" class="btn btn-default">Submit Form</button>
		</div>
		</form>

	</div>
</div>

<!-- Contact -->
<a name="contact">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center">
			<h3>Can't find the part you need?</h3>
			<%= link_to "Contact Us", "/contact", class: "button-link" %>
		</div>
	</div>
</div>




<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->