<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#part">Browse</a></li>
				<li role="presentation"><a href="#application">Find Application</a></li>
				<li role="presentation"><a href="#feature">Features</a></li>
				<li role="presentation"><a href="#new">New Parts</a></li>
				<li role="presentation"><a href="#sell">Sell Parts</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Store link -->
<div class="image-background" id="the_inventory">
	<div class="container">
		<div class="row row-centered text-center">
			<h1 class="inverse">View our database of parts</h1>
			<p class="intro inverse">Trusted for over 35 years in the automotive industry, we at JC Auto Restoration take as much care in delivering the quality parts you need as we do when restoring your car. Explore our inventory of over 9,000 parts and kickstart your project with quality American made componets.</p>
			<%= link_to spree.products_path, class: "btn btn-primary btn-lg" do %><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Shop Now<% end %>
		</div>
		<div class="row row-centered text-center">
			<div class="col-md-6 col-centered">
				<h3 class="inverse">Explore</h3>
				<h3 class="inverse"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></h3>
			</div>
		</div>
	</div>
</div>

<!-- Search bar -->
<div class="container-yellow">
	<div class="container">
		<div class="row" style="margin: 0">
			<div class="col-xs-12 col-md-2">
				<p class="intro" style="margin: 10px 0 0 0; width: 100%">Find Parts:</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>

				<%= form_tag spree.products_path, style: "padding: 0px;", :method => :get, class: "navbar-form" do %>
				<!--div class="form-group">
				<% cache(cache_key_for_taxons) do %>
				<%= select_tag :taxon,
				options_for_select([[Spree.t(:all_departments), '']] +
				@taxons.map {|t| [t.name, t.id]},
				@taxon ? @taxon.id : params[:taxon]), 'aria-label' => 'Taxon', class: "form-control" %>
				<% end %>
				</div -->
				<div class="form-group" style="width: 100%">
					<!--%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %-->
					<%= search_field_tag :keywords, params[:keywords], :placeholder => "Search for parts", class: "form-control", style:"width: 100%"%>
				</div>
			</div>
			<div class="col-xs-12 col-md-2">
				<%= submit_tag Spree.t(:search), :name => nil, class: "btn btn-primary", style: "width: 100%; margin-top: 5px" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- Part Group -->
<a name="part">
<div class="container">
	<div class="row text-center row-centered">
		<h1>Browse by Part Category</h1>

		<!-- Use buttons on large devices -->
		<div class="hidden-xs">
			<% counter = 1 %>
			<% @part_groups_taxon_children.each do |group| %>
				
				<div class= "col-sm-3 col-md-2 col-centered" style="margin-bottom: 20px;" >
					<%= link_to spree.nested_taxons_path(group.permalink), class: "button-link" do %><%= image_tag group.icon_file_name, class:"icon" %><% end %>
					<p><%= link_to group.name, spree.nested_taxons_path(group.permalink), class: "button-link" %></p>
				</div>

				<!-- Add row breaks -->

				<% if counter % 6 == 0 && counter % 4 == 0 %>
					<div class="clearfix hidden-xs-block"></div>
				<% elsif counter % 4 == 0 %>
					<div class="clearfix visible-sm-block"></div>
				<% elsif counter % 6 == 0 %>
					<div class="clearfix visible-md-block visible-lg-block"></div>
				<% end %>
				<% counter += 1 %>

			<% end %>
		</div>

		<!-- Use dropdown on mobile -->
		<div class="dropdown visible-xs text-left col-xs-12">
			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="width: 100%">
				Select Part Category
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="left: 20px; right: 20px">
				<% @part_groups_taxon_children.each do |group| %>
					<li><%= link_to group.name, spree.nested_taxons_path(group.permalink), class: "button-link" %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<!-- Body Type -->
<a name="application">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<h1>Browse by Application</h1>
			<p class="intro">Find parts that fit your current car or project here.</p>
			<%= form_tag spree.products_path, :onSubmit => "return validateForm()", style: "padding: 0px;", :method => :get, class: "form-inline" do %>
			  <fieldset>
		    	<div class="col-md-3">
			    	<!-- Build Make Dropdown -->
					<%= label_tag "make_id", Spree.t(:make), class: "sr-only" %>
					<%= select_tag "make_id", options_from_collection_for_select(Spree::Make.all, "id", "name", params[:search]), :prompt => "Select the Make", class: "form-control" %>
					<!--%= f.text_field :make, :class => 'form-control' %-->
				</div>
				<div class="col-md-3" id = "application_model_field">
					<!-- Build Model Dropdown -->
					<%= label_tag "model_id", Spree.t(:model), class: "sr-only" %>
					<select id="model_id" name="model_id" class="form-control">
						<option value="">Select the Model</option>
						<% Spree::Model.all.each do |model| %>
						<% model_start = model.start_year ? model.start_year : (Date.today.year-100) %>
						<% model_end = model.end_year ? model.end_year : (Date.today.year) %>
						<option value="<%= model.id %>" data-make="<%= model.make_id ? model.make_id : 'none' %>" data-start="<%= model_start %>" data-end="<%= model_end %>"><%= model.name %></option>
						<% end %>
					</select>
				</div>
				<div class="col-md-3" id = "application_year_field">
					<!-- Build Year Dropdown -->

					<%= label_tag "year", Spree.t(:year), class: "sr-only" %>
					<%= select_tag "year", ((Date.new(1900).year)..Date.today.year).map{|year| "<option>#{year}</option>"}.join.html_safe, :prompt => "Select the Year", class: "form-control" %>
				</div>
				<div class="col-md-3">
				<%= submit_tag Spree.t(:search), :name => nil, class: "btn btn-primary", style: "width: 100%; margin-top: 0px" %>
				</div>
			  </fieldset>
			<% end %>
		</div>
	</div>
</div>

<div class="image-background" id="the_parts">
	<%= image_tag "The-Parts-1.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<!-- Featured Products -->
<a name="feature">
<div class="container">
	<div class="row text-center">
		<h1>Features and Deals</h1>
		<p class="intro">
			We've got plenty of parts we'd love to sell. Check back regularly for new deals!
		</p>
		<% if @featured_taxon_children.length == 0 %>
			<p>There are no featured products at this time. Please check back soon!</p>
		<% else %>
			<% @featured_taxon_children.each do |featured| %>
			<div class="col-md-3">
				<%= image_tag "cars/Car-20.png", class:"icon" %>
				<%= link_to featured.name, spree.nested_taxons_path(featured.permalink), class: "button-link" %>
			</div>
			<% end %>
		<% end %>
	</div>
</div>

<!-- New Part Listings -->
<a name="new">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered" style="margin-bottom: 0; padding-bottom: 0">
			<h1>New Parts</h1>
			<p class="intro">
				Couldn't find something before? Check back here to see if we've picked up any parts you need!
			</p>
		</div>
		<div class="row">
			<% if @new.length == 0 %>
				<p>There are no new products at this time. Please check back soon!</p>
			<% else %>
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner mobile-center" role="listbox">
				  	<% first = true %>
				  	<% @new.each_with_index do |new_prod, i| %>
					    <div class="item <%= i+1 == 1 ? "active" : "" %>">
					    	<div class="col-md-5" style="text-align:center">
									<% url = spree.product_url(new_prod) %>
					      	<!-- Image -->
					      	<% 
					      		if new_prod.variant_images.empty?
					      			image = "noimage/product.png"
					      		else 
					      			image = new_prod.variant_images.first.attachment.url("product")
					      		end
					      	%>
					      	<%= link_to url do %><%= image_tag image %><% end %>
					      </div>
					      <div class="col-md-7">
					        <h3><%= link_to truncate(new_prod.property("Part Number"), length: 50), url, class: 'info', itemprop: "name", title: new_prod.property("Part Number") %></h3>
					        <% if new_prod.description %>
				            <p style="font-weight: 700; margin-bottom: 0px; color: #bf210a"><%= link_to url, class: 'info' do %><%= new_prod.description %><% end %></p>
				          <% else %>
				            N/A
				          <% end %>
				          <strong>Cross References:</strong> 
				          <!-- Only show chrysler numbers -->
				          <% cross_found = false %>
				          <% if !new_prod.product_properties.where("property_id=?", 3).empty? %>
				            <% new_prod.property("Cross Reference").split(",").each_with_index do |cross, index| %>
				              <% if matches = cross.strip.match(/(\d{7})/) %>
				                  <%= ((index != 0 && cross_found) ? ", " : "") + matches[1] %> 
				                  <% cross_found = true %>
				              <% end %>
				            <% end %>
				          <% end %>
				          <% if !cross_found %>
				            N/A
				          <% end %><br>
				          <strong>Applications:</strong> 
				          <% if new_prod.product_applications.empty? %> 
				            N/A
				          <% else %>
				              <% len = new_prod.product_applications.length %>
				              <% new_prod.product_applications.order('start_year asc').each_with_index do |product_application, index| %>
				                  <%= product_application.name.strip %><%= index+1 == len ? "" : ", " %>
				              <% end %>
				          <% end %>
					      </div>      
					    </div><!-- item -->
						<% end %>
					</div><!-- Carousel inner -->

				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>
			<% end %>
		</div><!-- row -->
	</div>
</div>

<div class="image-background" id="the_parts_2">
	<%= image_tag "The-Parts-2.jpg", style: "width: 100%; visibility: hidden;" %>
</div>

<!-- Sell to Us -->
<a name="sell">
<div class="container">
	<div class="row text-center">
		<h1>Sell to Us</h1>
		<p class="intro">
			Have some extra parts? Let us know what you have and we'll be in touch.
		</p>
		<%= form_tag submit_contact_jcautohome_index_path, multipart: true do %>
			<div class="col-md-6">
				<div class="form-group">
					<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= telephone_field(:user, :phone, placeholder: "Phone (required)", :required => true, class: "form-control", style: "width: 47%; float: left; margin-right: 6%") %>
				</div>
				<div class="form-group">
					<%= email_field(:user, :address, placeholder: "Email", class: "form-control", style: "width: 47%") %>
				</div>
				<div class="form-group">
					<%= search_field(:user, :part_numbers, placeholder: "Part Number or Cast Number", class: "form-control") %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= text_area_tag(:message, "", size: "25x5", style:"height: 95px;", placeholder: "Tell us about the part (condition, application, description, desired price)", class: "form-control") %>
				</div>
				<div class="form-group">
					<%= label_tag("images", "Upload images (max 5, 2MB each): ", style: "display: inline; margin-right: 10px") %>
					<%= file_field_tag("images[]", accept: 'image/png,image/gif,image/jpeg', multiple: true, style: "display: inline") %>
				</div>
			</div>
			<div class="col-md-12">
				<%= submit_tag("Submit Form", class: "btn btn-default") %>
				<!-- button type="submit" class="btn btn-default">Submit Form</button -->
			</div>
		<% end %>
		<div id="content" class="col-md-12" style="margin-top: 25px">
			<%= flash_messages %>
		</div>
	</div>
</div>

<!-- Contact -->
<a name="contact">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center" style="padding: 5px 0 0 0; margin: 0">
			<h3 style="display: inline-block">Can't find the part you need?</h3>
			<%= link_to "Contact Us", "/contact", class: "button-link", style: "display: inline-block" %>
		</div>
	</div>
</div>

<script type="text/javascript">

	// Validate 
	validateForm = function(){
		if( $( "select#make_id" ).val() === "" || $("select#year").val() === "") {
			alert("Please select a make and year (model is optional)");
			return false;
		}
		else {
			return true;
		}
	}
	// Change models based on make selection
	$( "select#make_id" ).change(function () {
		var value = "";

	    // Get id of Make selected
	    $( "select#make_id option:selected" ).each(function() {
	    	// Value is Make's id
	      	value = $( this ).val();
	    });

	    // Hide all models except those that belong to selected brand
	    $( "#model_id > option" ).each(function(){
	    	if($(this).attr('data-make')) {
				if($(this).attr('data-make').toString() === value.toString()) {
					$( this ).show();
				}
				else {
					$( this ).hide();
				}
			}
	    });

	   	// Change model to select
	    $("#model_id").val("");

	    // Change year to select
	    $("#year").val("");
	  })
	.change();

	// Change years based on model selection
	$( "select#model_id" ).change(function () {
		var start = "";
		var end = "";

		// Get selected model start and end date
		if ($("select#model_id").val() === "") {
			start = 1900;
			end = (new Date).getFullYear();
		}
		else {
			$( "select#model_id option:selected" ).each(function() {
		      start = $(this).attr('data-start');
		      end = $(this).attr('data-end');
		    });
		}

		console.log("Start: " + start + " End: " + end);

		// Hide all years except those that belong to selected brand
	    $( "#year > option" ).each(function(){
	    	year = parseInt($(this).text(), 10);
	    	if(year >= start && year <= end) {
				$( this ).show();
			}
			else {
				if($(this).text()==="Select the Year"){
					// do nothing if this is Select the Year option
				}
				else {
					$( this ).hide();
				}
			}
	    });

	    // Change year to select
	    $("#year").val("");

	})
	.change();

</script>


<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->