<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#quote">Get a Quote</a></li>
				<li role="presentation"><a href="#browse">Browse Services</a></li>
				<li role="presentation"><a href="#how">How to Guide</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Contact -->
<a name="quote"></a>
<div class="container">
	<div class="row row-centered" style="margin-bottom: 0; padding-bottom: 0">
		<h1>Cars for Sale</h1>
		<% if spree_current_user && spree_current_user.spree_roles.first.name == "admin" %>
			<%= link_to "Edit Sale Cars", admin_sale_cars_path, class: "btn btn-success admin-button" %>
		<% end %>
		<p class="intro">Occasionally we'll get great project cars that make their way through the shop. Check back here to see if we have anything that could be of use to you!</p>
	</div>
	<div class="row" style="margin-top: 0">
		<div class="col-md-12">
			<table class="table table-striped">
				<thead>
					<th>Image</th>
					<th>Make/Model</th>
					<th>Details</th>
					<th>Price</th>
				</thead>
				<tbody>
					<% @sale_cars.each do |sale_car| %>
						<tr>
							<td><%= image_tag sale_car.thumb_image_path, width: 100 %></td>
							<td><%= link_to sale_car.name, sale_car_path(sale_car) %></td>
							<td><%= sale_car.description %></td>
							<td>$<%= sprintf('%.2f', sale_car.price) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div><!-- Col -->
	</div><!-- Row -->
</div><!-- Container -->


</div>

<a name="quote"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row row-centered">
			<h1>Interested in a Car?</h1>
			<p class="intro">Let us know which car you are interested in and we will be in touch with more details.</p>
			<%= form_tag submit_contact_jcautohome_index_path, multipart: true do %>
				<div class="col-md-6">
					<div class="form-group">
						<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
					</div>
					<div class="form-group">
						<%= telephone_field(:user, :phone, placeholder: "Phone (required)", :required => true, class: "form-control", style: "width: 47%; float: left; margin-right: 6%") %>
					</div>
					<div class="form-group">
						<%= email_field(:user, :address, placeholder: "Email", class: "form-control", style: "width: 47%") %>
					</div>
					<div class="form-group">
						<%= collection_select(:user, :part_car, SaleCar.all, :name, :name, {:prompt => "Select Desired Sales Car"}, class: "form-control") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<%= text_area_tag(:message, "", size: "25x5", style:"height: 150px;", placeholder: "Additional details or questions", class: "form-control") %>
					</div>
				</div>
				<div class="col-md-12">
					<%= submit_tag("Submit Form", class: "btn btn-default") %>
					<!-- button type="submit" class="btn btn-default">Submit Form</button -->
				</div>
			<% end %>
			<div id="content" class="col-md-12" style="margin-top: 25px">
				<%= flash_messages %>
			</div>
		</div><!-- Row -->
	</div><!-- Container -->
</div>