<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#quote">Get a Quote</a></li>
				<li role="presentation"><a href="#browse">Browse Services</a></li>
				<li role="presentation"><a href="#how">How to Guide</a></li>
			</ul>
		</div>
	</div>
</div>

<!-- Contact -->
<a name="quote">
<div class="container">
	<div class="row row-centered">
		<h1>Get a Quote</h1>
		<p class="intro">Tell us about your project and the work you'd like done. We'll be in touch soon to discuss pricing.</p>
		<%= form_tag submit_contact_jcautohome_index_path, multipart: true do %>
			<div class="col-md-6">
				<div class="form-group">
					<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
				</div>
				<div class="form-group">
					<%= telephone_field(:user, :phone, placeholder: "Phone (required)", :required => true, class: "form-control", style: "width: 47%; float: left; margin-right: 6%") %>
				</div>
				<div class="form-group">
					<%= email_field(:user, :address, placeholder: "Email", class: "form-control", style: "width: 47%") %>
				</div>
				<div class="form-group">
					<%= search_field(:user, :quote_car, placeholder: "Motorcar Make and Model", class: "form-control") %>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<%= text_area_tag(:message, "", size: "25x5", style:"height: 95px;", placeholder: "Services Requested", class: "form-control") %>
				</div>
				<div class="form-group">
					<%= label_tag("images", "Upload images (max 5, 2MB each): ", style: "display: inline; margin-right: 10px") %>
					<%= file_field_tag("images[]", accept: 'image/png,image/gif,image/jpeg', multiple: true, style: "display: inline") %>
				</div>
			</div>
			<div class="col-md-12">
				<%= submit_tag("Submit Form", class: "btn btn-default") %>
				<!-- button type="submit" class="btn btn-default">Submit Form</button -->
			</div>
		<% end %>
		<div id="content" class="col-md-12" style="margin-top: 25px">
			<%= flash_messages %>
		</div>
	</div><!-- Row -->
</div><!-- Container -->

<!-- Contact -->
<a name="browse">
<div class="container-yellow">
	<div class="container">
		<div class="row text-center">
			<h1>Browse Services</h1>
			<p class="intro">
				We offer a variety of services. Click on a link below to find pricing options.
			</p>
			<% @services.each_with_index do |service, i| %>
				<div class="col-sm-6 col-md-4 col-lg-3">
					<%= image_tag service.service_images.where("thumb_image = ?", true).first, class:"icon", id:"tech1" %>
					<h3 class="service-header"><%= service.name %></h3>
					<p><%= service.description %></p>
					<%= link_to "See Prices", service, class: "button-link" %>
				</div>
				<% if (i+1)%4 == 0 %>
					<div class="clearfix visible-lg-block"></div>
					<div style="min-height: 50px" class="visible-lg-block"></div>
				<% end %>
				<% if (i+1)%3 == 0 %>
					<div class="clearfix visible-md-block"></div>
					<div style="min-height: 50px" class="visible-md-block"></div>
				<% end %>
				<% if (i+1)%2 == 0 %> 
					<div class="clearfix visible-sm-block"></div>
					<div style="min-height: 50px" class="visible-sm-block"></div>
				<% end %>
			<% end %>
		</div>
	</div>
</div><!-- Yellow -->

<a name="how">
<div class="container">
	<div class="row text-center">
		<h1>JC's How to Guide</h1>
		<p class="intro">
			We can make sure your gauges and parts are restored to their original beauty, but sometimes you need to get hands-on to take it from there. Here is all the information you'll need to keep your project moving forward.
		</p>
		<div class="col-md-3">
			<%= image_tag "master/Tech.png", class:"icon", id:"tech1" %>
			<h3>Electroluminescent Gauges</h3>
			<%= link_to "Learn More", "/", class: "button-link" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "master/Tech.png", class:"icon", id:"tech1" %>
			<h3>Working With Instrument Clusters</h3>
			<%= link_to "Learn More", "/", class: "button-link" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "master/Tech.png", class:"icon", id:"tech1" %>
			<h3>Packaging and Shipping Parts</h3>
			<%= link_to "Learn More", "/", class: "button-link" %>
		</div>
		<div class="col-md-3">
			<%= image_tag "master/Tech.png", class:"icon", id:"tech1" %>
			<h3>Electrical and Wiring</h3>
			<%= link_to "Learn More", "/", class: "button-link" %>
		</div>
	</div>
</div>
<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->