<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#browse">Browse Services</a></li>
				<li role="presentation"><a href="#quote">Get a Quote</a></li>
				<li role="presentation"><a href="#how">How to Guide</a></li>
			</ul>
		</div>
	</div>
</div>

<a name="browse"></a>
<div class="container">
	<div class="row text-center row-centered">
		<h1>JC Auto's Services</h1>
		<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
			<%= link_to "Edit Services", admin_services_path, class: "btn btn-success admin-button" %>
		<% end %>
		<p class="intro">
			We offer a variety of services in restoration and rebuilding. In addition to the pricing options below, we are also capable of work in distributor rebuilding and advance curve modification, rebuilding mirror-matics, auto-pilot servos, and electric motors, and a variety of other electrical and mechanical services. Please inquire <a href="#quote" style="font-weight: 500">here</a> if you have questions about what services are available.
		</p>
		<% @services.each_with_index do |service, i| %>
			<div class="col-sm-6 col-md-4 col-lg-3 col-centered">
				<% image_path = service.service_images.where("thumb_image = ?", true).first.image_path %>
				<% image_type = (image_path.slice ".png") ? (image_path.slice! ".png") : (image_path.slice! ".jpg") %>
				<%= link_to service, onmouseover: "document.getElementById('service#{i}').src='#{asset_path(image_path + "-hover" + image_type)}'", onmouseout: "document.getElementById('service#{i}').src='#{asset_path(image_path + image_type)}'" do %>
					<%= image_tag (image_path + image_type), class:"icon", id:"service#{i}", alt: service.name %>
				<% end %>

				<h3 class="service-header"><%= service.name %></h3>
				<p class="service-description"><%= service.description %></p>
				<%= link_to "See Prices", service, class: "button-link", onmouseover: "document.getElementById('service#{i}').src='#{asset_path(image_path + "-hover" + image_type)}'", onmouseout: "document.getElementById('service#{i}').src='#{asset_path(image_path + image_type)}'" %>
			</div>
			<% if (i+1)%4 == 0 %>
				<div class="clearfix visible-lg-block"></div>
				<div style="min-height: 50px" class="visible-lg-block"></div>
			<% end %>
			<% if (i+1)%3 == 0 %>
				<div class="clearfix visible-md-block"></div>
				<div style="min-height: 50px" class="visible-md-block"></div>
			<% end %>
			<% if (i+1)%2 == 0 %> 
				<div class="clearfix visible-sm-block"></div>
				<div style="min-height: 50px" class="visible-sm-block"></div>
			<% end %>
		<% end %>
	</div>
</div>

<!-- Contact -->
<a name="quote"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row row-centered">
			<h1>Get a Quote</h1>
			<p class="intro">Tell us about your project and the work you'd like done. We'll be in touch soon to discuss options and pricing.</p>
			<%= form_tag submit_contact_jcautohome_index_path, multipart: true do %>
				<div class="col-md-6">
					<div class="form-group">
						<%= search_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
					</div>
					<div class="form-group">
						<%= telephone_field(:user, :phone, placeholder: "Phone (required)", :required => true, class: "form-control", style: "width: 47%; float: left; margin-right: 6%") %>
					</div>
					<div class="form-group">
						<%= email_field(:user, :address, placeholder: "Email", class: "form-control", style: "width: 47%") %>
					</div>
					<div class="form-group">
						<%= search_field(:user, :quote_car, placeholder: "Motorcar Make and Model", class: "form-control") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<%= text_area_tag(:message, "", size: "25x5", style:"height: 95px;", placeholder: "Services Requested", class: "form-control") %>
					</div>
					<div class="form-group">
						<%= label_tag("images", "Upload images: Hold Ctrl key (or Cmd key on Mac) to select multiple files (max 5, 2MB each)", style: "display: inline; margin-right: 10px") %>
						<%= file_field_tag("images[]", accept: 'image/png,image/gif,image/jpeg', multiple: true, style: "display: inline") %>
					</div>
				</div>
				<div class="col-md-12">
					<% if Spree::Captcha::Config[:use_captcha] %>
						<%= recaptcha_tags public_key: Spree::Captcha::Config[:public_key], display: { theme: Spree::Captcha::Config[:theme] } %>
					<% end %>
					<!-- button type="submit" class="btn btn-default">Submit Form</button -->
				</div>
				<div class="col-md-12">
					<%= submit_tag("Submit Form", class: "btn btn-default") %>
					<!-- button type="submit" class="btn btn-default">Submit Form</button -->
				</div>
			<% end %>
			<div id="content" class="col-md-12" style="margin-top: 25px">
				<%= flash_alert(flash) %>
			</div>
		</div><!-- Row -->
	</div><!-- Container -->
</div><!-- Yellow -->

<a name="how"></a>
<div class="container">
	<div class="row text-center col-centered">
		<h1>JC's How to Guide</h1>
		<p class="intro">
			We can make sure your gauges and parts are restored to their original beauty, but sometimes you will need to get hands-on to take it from there. Here is all the information you'll need to keep your project moving forward.
		</p>
		<div class="col-md-4 col-lg-4 col-centered">
			<%= link_to "/our-services/gauges", onmouseover: "document.getElementById('cluster').src='#{asset_path("services/cluster-hover.png")}'", onmouseout: "document.getElementById('cluster').src='#{asset_path("services/cluster.png")}'" do %>
				<%= image_tag "services/cluster.png", alt: "Instrument Cluster", class:"icon", id:"cluster" %>
			<% end %>
			<h3>Removing Your Instrument Cluster</h3>
			<p>How to safely remove your gauge clusters.</p>
			<%= link_to "Learn More", "/our-services/gauges", class: "button-link", onmouseover: "document.getElementById('cluster').src='#{asset_path("services/cluster-hover.png")}'", onmouseout: "document.getElementById('cluster').src='#{asset_path("services/cluster.png")}'" %>
		</div>
		<div class="col-md-4 col-lg-4 col-centered">
			<%= link_to "/our-services/shipping", onmouseover: "document.getElementById('shipping').src='#{asset_path("services/shipping-large-hover.png")}'", onmouseout: "document.getElementById('shipping').src='#{asset_path("services/shipping-large.png")}'" do %>
				<%= image_tag "services/shipping-large.png", alt: "Shipping", class:"icon", id:"shipping" %>
			<% end %>
			<h3>Packaging and Shipping Parts</h3>
			<p>How to properly package and ship your parts.</p>
			<%= link_to "Learn More", "/our-services/shipping", class: "button-link", onmouseover: "document.getElementById('shipping').src='#{asset_path("services/shipping-large-hover.png")}'", onmouseout: "document.getElementById('shipping').src='#{asset_path("services/shipping-large.png")}'" %>
		</div>
		<div class="col-md-4 col-lg-4 col-centered">
			<%= link_to "/our-services/em", onmouseover: "document.getElementById('em-tutorial').src='#{asset_path("services/gauge-large-hover.png")}'", onmouseout: "document.getElementById('em-tutorial').src='#{asset_path("services/gauge-large.png")}'" do %>
				<%= image_tag "services/gauge-large.png", alt: "Electroluminescent Gauge", class:"icon", id:"em-tutorial" %>
			<% end %>
			<h3>Electroluminescent Gauges</h3>
			<p>What is electroluminescence?</p>
			<%= link_to "Learn More", "/our-services/em", class: "button-link", onmouseover: "document.getElementById('em-tutorial').src='#{asset_path("services/gauge-large-hover.png")}'", onmouseout: "document.getElementById('em-tutorial').src='#{asset_path("services/gauge-large.png")}'" %>
		</div>
	</div>
</div>
<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->