<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#60s">The 60's</a></li>
				<li role="presentation"><a href="#70s">The 70's</a></li>
				<li role="presentation"><a href="#present">Present Day</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="modal fade image-previews" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Image</h4>
      </div>
      <div class="modal-body">
        <%= image_tag "tutorials/60C-1.jpg", id: "lightbox-image", style: "width: 100%" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Store link -->
<div class="image-background" id="the_policies">
	<div class="container">
		<div class="row row-centered text-center">
			<h1 class="inverse">JC Auto Timeline</h1>
			<p class="intro inverse">Our history with cars extends long before JC Auto Restoration's 1978 founding date. Travel back in time to the roots of our automotive expertise.</p>
		</div>
	</div>
</div>

<!-- Contact -->
<div class="container-yellow">
	<div class="container">
		<div class="row">
			<section id="cd-timeline">

				<!-- Block 1 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="60s"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>Jeff's First Car</h2>
						<div class="clearfix"></div>
						<p>Ok so it wasn't a full blown Chrysler Imperial, well actually it wasn't even a real car. However, Jeff knew at a very VERY young age that cars would be a central part of his life.</p>
						<span class="cd-date">Jan 14, 1956</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 1 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>Trips to the Garage</h2>
						<div class="clearfix"></div>
						<p>Jeff spent much of his early teens taking trips to the garage with his father. At first, he helped with odd jobs around the shop, but it wasn't long before he began taking on projects of his own.</p>
						<span class="cd-date">Jan 14, 1956</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->
			 
				<!-- Block 2 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="70s"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>Jeff and Lisa Get Hitched</h2>
						<div class="clearfix"></div>
						<p>Lisa didn't know much about cars when her and Jeff first met, but that didn't stop them from falling for each other. She would learn plenty about the automotive world in the years to come.</p>
						<span class="cd-date">Jan 14, 1956</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>Jeff Sees his first car</h2>
						<div class="clearfix"></div>
						<p>Jeff and Lisa start JC Auto Restoration, Inc. and take on thier first customer. Business is good!</p>
						<span class="cd-date">Jan 14, 1978</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>Moved into the Lynnwood Shop</h2>
						<div class="clearfix"></div>
						<p>We were growing rapidly, and in dire need of more room for work space and storage! We found the perfect spot just north of Seattle in Lynnwood, WA. With two suites and a storage facililty, we have plenty of room to take on as many projects as we can.</p>
						<span class="cd-date">Jan 14, 2000</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="present"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>Living the Dream</h2>
						<div class="clearfix"></div>
						<p>After years of hard work, Jeff is running a shop he loves, learning more about his customers and their projects every day. He is constantly dreaming up ways to make the experience even more enjoyable for his clients, like adding a new e-commerce site so that they can find the services and parts they need. Keep an eye out for even more fun innovations coming soon!</p>
						<span class="cd-date">Present Day</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

			</section>
		</div>
	</div>
</div>
<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->

<script>
	$('[data-toggle="modal"]').click( function(event) {
		$('#lightbox-image').attr("src", $(this).data("path"));
	});

  $('[data-toggle="modal"]').hover( 
  	function(event) {
	 		$( this ).children("img").first().fadeTo( "fast", 0.2, 
	 			function(event) {
	 				$( this ).siblings("#click-text").first().show();
	 			}
	 		);
	 	}, function(event) {
	 		$( this ).children("img").first().fadeTo( "fast", 1.0, 
	 			function(event) {
	 				$( this ).siblings("#click-text").first().hide();
	 			}
	 		);
	 	}
 	);
 </script>