<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#60s">The 60's</a></li>
				<li role="presentation"><a href="#70s">The 70's</a></li>
				<li role="presentation"><a href="#present">Present Day</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="modal fade image-previews" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Image</h4>
      </div>
      <div class="modal-body">
        <%= image_tag "tutorials/60C-1.jpg", id: "lightbox-image", style: "width: 100%" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Store link -->
<div class="image-background" id="the_policies">
	<div class="container">
		<div class="row row-centered text-center">
			<h1 class="inverse">JC Auto Timeline</h1>
			<p class="intro inverse">Our history with cars extends long before JC Auto Restoration's 1978 founding date. Travel back in time to the roots of our automotive expertise.</p>
		</div>
	</div>
</div>

<!-- Contact -->
<div class="container-yellow">
	<div class="container">
		<div class="row">
			<section id="cd-timeline">

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>JC Auto Restoration is born</h2>
						<div class="clearfix"></div>
						<p>Jeff and Lisa start JC Auto Restoration, Inc. and take on thier first customer. Business is good!</p>
						<span class="cd-date">1978</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("shop-1.jpg") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "shop-1.jpg", class: "cd-photo" %>
						</div>

						<h2>Moved into the Lynnwood Shop</h2>
						<div class="clearfix"></div>
						<p>We were growing rapidly, and in need of more room for work space and storage! We found the perfect spot just north of Seattle in Lynnwood, WA.</p>
						<span class="cd-date">2000</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="present"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("people/lindsey.jpg") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "people/lindsey.jpg", class: "cd-photo" %>
						</div>

						<h2>Lindsey Joins JC Auto</h2>
						<div class="clearfix"></div>
						<p>With the JC Auto customer base expanding, Jeff and Lisa could no longer manage the mechanical work and keep the business organized. That is when they brought on Lindsey who helps keep things organized and is the friendly voice you'll often hear when you call us. Learn more about Lindsey on the <%= link_to "About Us", "/about#who", style: "font-weight: 700" %> page.</p>
						<span class="cd-date">2008</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="present"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("people/lyle.jpg") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "people/lyle.jpg", class: "cd-photo" %>
						</div>

						<h2>Lyle Joins JC Auto</h2>
						<div class="clearfix"></div>
						<p>We were looking to expand our abilities in Electroluminescence and Gauge work. The solution? To bring on a talented electrical engineer named Lyle Smith. Learn more about Lyle on our <%= link_to "About Us", "/about#who", style: "font-weight: 700" %> page.</p>
						<span class="cd-date">March 3, 2012</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="present"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("people/ryan.jpg") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "people/ryan.jpg", class: "cd-photo" %>
						</div>

						<h2>Ryan Joins JC Auto</h2>
						<div class="clearfix"></div>
						<p>It never hurts to have more hands around the shop. Ryan joined us with a not so traditional background for the mechanical world, but has quickly expanded his skill range to take on many projects. Learn more about Ryan on our <%= link_to "About Us", "/about#who", style: "font-weight: 700" %> page.</p>
						<span class="cd-date">November 2014</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="present"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("people/karla.jpg") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "people/karla.jpg", class: "cd-photo" %>
						</div>

						<h2>Karla Joins JC Auto</h2>
						<div class="clearfix"></div>
						<p>As the years passed we realized that we had collected quite a stash of fantastic NOS parts. However, they weren't going to do much for anyone sitting on our shelves. That's when we decided to hire Karla Pollowitz, a computer science major, to help us build our new e-commerce website. Learn more about Karla on our <%= link_to "About Us", "/about#who", style: "font-weight: 700" %> page.</p>
						<span class="cd-date">September 8, 2015</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

				<!-- Block 3 -->
				<div class="cd-timeline-block">
					<div class="cd-timeline-img cd-blue">
						<%= image_tag "timeline/cd-icon-picture.svg", alt: "picture" %>
					</div> <!-- cd-timeline-img -->
			 
					<div class="cd-timeline-content">
						<a name="present"></a>
						<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("timeline/logo.png") %>" style="padding: 0">
							<div id="click-text" style="margin-left: 40px; margin-right: 0px; text-align: left; width: 20%"><h5>Click to enlarge</h5></div>
							<%= image_tag "timeline/logo.png", class: "cd-photo" %>
						</div>

						<h2>Living the Dream</h2>
						<div class="clearfix"></div>
						<p>After years of hard work, Jeff is running a shop he loves. He is constantly dreaming up ways to make the experience even more enjoyable for his clients, like adding a new e-commerce site to help them find the services and parts they need. Keep an eye out for even more fun innovations coming soon!</p>
						<span class="cd-date">Present Day</span>
					</div> <!-- cd-timeline-content -->
				</div> <!-- cd-timeline-block -->

			</section>
		</div>
	</div>
</div>
<!-- %= button_tag "Find Parts", class:"btn btn-neon", onmouseover: "toggleNeon(this, '#{asset_path('buttons/red-button.png')}')", onmouseout: "toggleNeon(this, '#{asset_path('buttons/blue-button.png')}')" % -->

<script>
	$('[data-toggle="modal"]').click( function(event) {
		$('#lightbox-image').attr("src", $(this).data("path"));
	});

  $('[data-toggle="modal"]').hover( 
  	function(event) {
	 		$( this ).children("img").first().fadeTo( "fast", 0.2, 
	 			function(event) {
	 				$( this ).siblings("#click-text").first().show();
	 			}
	 		);
	 	}, function(event) {
	 		$( this ).children("img").first().fadeTo( "fast", 1.0, 
	 			function(event) {
	 				$( this ).siblings("#click-text").first().hide();
	 			}
	 		);
	 	}
 	);
 </script>