<div class="container">
	<div class="row row-centered">
		<div class="col-md-12 text-center">
			<h1><%= @sale_car.name %></h1>
			<% if spree_current_user && (spree_current_user.has_spree_role? "admin") %>
				<%= link_to "Edit Sale Car", edit_admin_sale_car_path(@sale_car), class: "btn btn-success admin-button" %>
			<% end %>
			<p class="intro">
				<%= @sale_car.description %><br>
				<strong>Price: </strong>$<%= sprintf('%.2f', @sale_car.price) %><br>
				<% if !spree_current_user || (!spree_current_user.has_spree_role? "admin") %>
					<%= link_to "Contact Us About This Car", "#quote", class: "btn btn-success", style: "margin-top: 20px" %>
				<% end %>
			</p>
		</div>

		<% images = @sale_car.sale_car_images %>
		<% first = true %>

		<% if images.length > 0 %>
			<div class="gallery_container_mobile" style="position: relative; top: 0; left:0;">
				<%= link_to "/", class: "gallery-arrow-left", id: "mobile-left" do %>

				<% end %>
				<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%", class: "gallery_main" %>
				<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%; visibility: hidden; display: none", class:"placeholder" %>
				<%= link_to "/", class: "gallery-arrow-right", id: "mobile-right" do %>

				<% end %>
			</div>

			<!-- Main Gallery Image -->
			<div class="col-md-9">
				<div class="gallery_container">
					<%= link_to "/", class: "gallery-arrow-left" do %>
						<%= image_tag "arrow-02.png", alt: "previous", id: "previous" %>
					<% end %>
						<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%", class:"gallery_main" %>
						<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%; visibility: hidden; display: none", class:"placeholder" %>
					<%= link_to "/", class: "gallery-arrow-right" do %>
						<%= image_tag "arrow-01.png", alt: "next", id: "next" %>
					<% end %>
				</div>
				<div id="caption">
					<p id="caption-text"><%= images[0].description.html_safe %></p>
				</div>
			</div>

			<div class="col-md-3">
				<h5>Images</h5>
				<% images.each do |image| %>
					<div class="col-xs-2 col-sm-2 col-md-3 col-centered <%= first ? "thumb_selected" : "" %>" id="imageGallery_thumb">
						<a href=<%= "#{asset_path(image.attachment.url(:large))}" %>>
							<%= image_tag image.attachment.url(:large), alt: image.description, class: "icon", :data => { :path => "#{asset_path(image.attachment.url(:large))}" } %>
						</a>
						<% if first %>
							<% first = false %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% else %>
			<h3>No Images Available</h3>
		<% end %>
	</div><!-- row -->
</div>

<a name="quote"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row row-centered">
			<h1>Interested in this Car?</h1>
			<p class="intro">Use the form below to send us your information and any questions you have about the car. We'll be in touch soon with more details.</p>
			<%= form_tag submit_contact_jcautohome_index_path, multipart: true do %>
				<div class="col-md-6">
					<div class="form-group">
						<%= text_field(:user, :name, placeholder: "Name (required)", :required => true, class: "form-control") %>
					</div>
					<div class="form-group">
						<%= telephone_field(:user, :phone, placeholder: "Phone (required)", :required => true, class: "form-control", style: "width: 47%; float: left; margin-right: 6%") %>
					</div>
					<div class="form-group">
						<%= email_field(:user, :address, placeholder: "Email", class: "form-control", style: "width: 47%") %>
					</div>
					<div class="form-group">
						<%= collection_select(:user, :part_car, SaleCar.all, :name, :name, {:selected => @sale_car.name}, class: "form-control") %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<%= text_area_tag(:message, "", size: "25x5", style:"height: 150px;", placeholder: "Additional details or questions", class: "form-control") %>
					</div>
				</div>
				<div class="col-md-12">
					<%= submit_tag("Submit Form", class: "btn btn-default") %>
					<!-- button type="submit" class="btn btn-default">Submit Form</button -->
				</div>
			<% end %>
			<div id="content" class="col-md-12" style="margin-top: 25px">
				<%= flash_messages %>
			</div>
		</div><!-- Row -->
	</div><!-- Container -->
</div>

<script type="text/javascript">
	$(document).ready( function() {
		$("#next").show();
		$("#previous").show();
	});
</script>