<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb" style="text-align: left">
	      <li><%=link_to admin_customers_path do %>Customers<% end %></li>
	      <li class="active"><%= @customer.full_name %></li>
	    </ol>
	  </div>
		<div class="col-sm-12 col-md-6">
			<h2 style="margin-top: 0px"><%= @customer.full_name %>
			<% if @customer.needs_action -%>
				<span class="label label-warning" style="font-size: 0.5em">Alert</span>
			<% end -%>
			</h2>
		</div>
		<div class="col-sm-4 col-md-2">
			<%= link_to edit_admin_customer_path(@customer), class: "btn btn-default" do %>
				<span class="glyphicon glyphicon-pencil"></span>  Edit Customer
			<% end %>
		</div>
		<div class="col-sm-4 col-md-2">
			<%= link_to new_admin_customer_contact_path(@customer), class: "btn btn-primary" do %>
				<span class="glyphicon glyphicon-plus"></span>  New Contact
			<% end %>
		</div>
		<div class="col-sm-4 col-md-2">
			<%= link_to admin_customer_path(@customer), action: "delete", class: "btn btn-warning" do %>
				<span class="glyphicon glyphicon-remove"></span>  Delete Customer
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="well">
				<h4>Customer Information</h4>
				<p>
					<span style="font-weight: 700">Phone</span><br>
					<%= @customer.phone? ? @customer.phone : "N/A" %>
				</p>
				<p>
					<span style="font-weight: 700">Email</span><br>
					<%= @customer.email? ? @customer.email : "N/A" %>
				</p>
				<p>
					<span style="font-weight: 700">Vehicle</span><br>
					<%= @customer.vehicle? ? @customer.vehicle : "N/A" %>
				</p>
			</div>
		</div>

		<div class="col-sm-6 col-md-8">
			<h4>Notes and Parts Wanted</h4>
			<p><%= @customer.notes %></p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<h4>Previous Contacts</h4>
		</div>
		<%= search_form_for [:admin, @customer, @search_contacts], :url => admin_customer_path(@customer) do |f| %>
			<div class="col-sm-8 col-md-4">
				<div class="form-group">
					<%= f.text_field :jc_employee_cont, :size => 15, placeholder: "JC Employee Name", class: "form-control" %>
				</div>
			</div>
			<div class="col-sm-4 col-md-2">
				<%= f.submit "Search", class: "btn btn-default" %>
			</div>
		<% end %>

		<div id="content" class="col-md-12" style="margin-top: 25px">
   			<%= flash_messages %>
		</div>
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped" style="text-align: center">
					<thead>
						<tr>
							<th><%= sortable "date", "contact" %></th>
							<th>JC Employee</th>
							<th>Contact Method</th>
							<th>Notes</th>
							<th><%= sortable "resolved", "contact", "Actions" %></th>
						</tr>
					</thead>
					<tbody>
						<% @customer.contacts.each do |contact| %>
							<tr class='<%= contact.needs_action ? (contact.resolved ? "success" : "warning") : "" %>'>
								<td><%= contact.date.strftime("%m/%d/%Y") %></td>
								<td><%= contact.jc_employee %></td>
								<td><%= contact.method %></td>
								<td><%= contact.notes.html_safe %></td>
								<td>
									<% if contact.needs_action %>
										<%= link_to resolved_admin_customer_contact_path(@customer, contact), method: :put, data: { toggle: "tooltip", placement: "top"}, title: "Set to #{contact.resolved ? 'un' : '' }resolved", class: "btn btn-success" do %>
											<span class='glyphicon glyphicon-<%= contact.resolved ? "thumbs-down" : "thumbs-up" %>'></span>
										<% end %>
									<% end %>
									<%= link_to admin_customer_contact_path(@customer, contact), action: "delete", class: "btn btn-warning" do %>
										<span class='glyphicon glyphicon-remove'></span>
									<% end %>
									<%= link_to edit_admin_customer_contact_path(@customer, contact), class: "btn btn-primary" do %>
										<span class='glyphicon glyphicon-pencil'></span>
									<% end %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div><!-- Table-Responsive -->
		</div><!-- Col -->
	</div><!-- Row -->
</div>