<%= form_for [:admin, @sale_car], html: { multipart: true } do |f| %>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @sale_car } %>

    <div class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :description, Spree.t(:description) %>
      <%= f.text_area :description, :rows => 4, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price, Spree.t(:price) %>
      <%= f.number_field :price, :step => 'any', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :sale_price, Spree.t(:sale_price) %>
      <%= f.number_field :sale_price, :step => 'any', :class => 'form-control' %>
    </div>

    <% if @sale_car.thumb_image_path %>
      <div data-hook="thumbnail">
        <%= f.label Spree.t(:thumbnail) %>
        <%= link_to image_tag(@sale_car.thumb_image_path), @sale_car.thumb_image_path %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :attachment, Spree.t(:filename) %>
      <%= f.file_field :attachment %>
    </div>

    <div class="form-group">
      <%= f.check_box :current %>
      <%= f.label :current, Spree.t(:current) %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-success"%>
      <%= link_to 'Back', admin_sale_cars_path, class: "btn btn-default" %> 
    </div>
<% end %>
