<div class="container">
  <div class="row">
  		<div class="col-md-12">
	  		<ol class="breadcrumb" style="text-align: left">
		      <li><%=link_to admin_sale_cars_path do %>Sale Cars<% end %></li>
		      <li class="active"><%= @sale_car.name %></li>
		    </ol>
		</div>

		<div class="col-md-8">
			<h2><%= @sale_car.name %></h2>
		</div>
		<div class="col-md-4" style="padding-top: 25px">
			<%= link_to 'View Gallery', @sale_car, class: "btn btn-info" %>
			<%= link_to 'Images', admin_sale_car_sale_car_images_path(@sale_car), class: "btn btn-info" %>
		</div>
		<div class="col-md-12">
			<%= render 'form' %>
		</div>
	</div>
</div>

