<%= form_for [:admin, @shop_image], html: {multipart: true} do |f|%>
<%= render partial: 'spree/shared/error_messages',locals:{ target: @shop_image} %>

<div class="form-group">
	<%= f.label :description, Spree.t(:description)%> 
	<%= f.text_field :description %>
</div>

<div class="form-group">
    <%= f.label :attachment, Spree.t(:filename) %>
    <%= f.file_field :attachment %>
</div>

<div class="actions" data-hook="buttons">
  <%= f.submit class: "btn btn-success" %>
  <%= link_to 'Back', admin_shop_images_path, class: "btn btn-default" %> 
</div>
	<% end %>