<div class="container-yellow" id="tertiaryNav">
	<div class="container text-center">
      	<div class="container">
			<ul class="nav navbar-nav">
				<li role="presentation"><a href="#60C">60 Chrysler</a></li>
				<li role="presentation"><a href="#60I">60 Imperial</a></li>
				<li role="presentation"><a href="#61-2C">61-62 Chrysler</a></li>
				<li role="presentation"><a href="#61-3I">61-63 Imperial</a></li>
				<li role="presentation"><a href="#66-7Charger">66-67 Charger</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="modal fade image-previews" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Image</h4>
      </div>
      <div class="modal-body">
        <%= image_tag "tutorials/60C-1.jpg", id: "lightbox-image", style: "width: 100%" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Contact -->
<a name="60C"></a>
<div class="container">
	<div class="row">
		<h1 style="text-align: center">1960 Chrysler</h1>
		<p class="intro" style="text-align: center">Electroluminescent Gauge Cluster Removal</p>
		<div class="col-sm-6 col-md-3">
			<!-- Button trigger modal -->
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-1.jpg") %>" style="padding: 0">
			 	<%= image_tag "tutorials/60C-1.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 1:</h3>
			<ul>
				<li>Disconnect the battery ground cable</li>
				<li>Remove the steering wheel</li>
				<li>Remove the steering jacket tube cover from underside of the jacket tube</li> 
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-2.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-2.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 2:</h3>
			<ul>
				<li>Disconnect all the wires at the terminals before loosening the cluster attaching screws.</li>
				<li>Remove the two screws (one each side of steering jacket tube) and remove the steering tube bezel</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-3.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-3.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 3:</h3>
			<ul>
				<li>Remove the two self-locking nuts which retain the instrument cluster and plastic dome retainer to the instrument panel and remove the retainer. These stud nuts can be reached through the opening between the panel and the jacket tube.</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-4.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-4.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 4:</h3>
			<ul>
				<li>Remove the two screws holding the junction block to the instrument panel and swing the junction block out of the way to allow for loosening of the screws attaching the astrodome supports.</li>
				<li>Carefully pull the supports away from the steering jacket tube to afford clearance and release the base of the cluster from the supports and at the same time, tip the complete unit towards you to clear the back of the cluster from the instrument panel eyebrow.</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-5.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-5.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 5:</h3>
			<ul>
				<li>Disconnect the speedometer cable and the ornament lamp socket at the speedometer head, remove the four screws and remove the speedometer head assembly.</li>
			</ul>
		</div>
	</div><!-- Row -->
</div><!-- Container -->

<a name="60I"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row">
			<h1 style="text-align: center">1960 Imperial</h1>
			<p class="intro" style="text-align: center">Electroluminescent Gauge Cluster Removal</p>
			<div class="col-sm-6 col-md-3">
				<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60I-1.jpg") %>" style="padding: 0">
					<%= image_tag "tutorials/60I-1.jpg", class: "icon-retro" %>
				</div>
			</div>
			<div class="col-sm-6 col-md-9">
				<h3>Step 1:</h3>
				<ul>
					<li>Disconnect the battery ground cable</li>
					<li>Remove the chrome retainer ring retaining screw at the bottom of the retainer</li>
					<li>Pull the bottom of the retainer forward and raise the retainer to release the upper tab located at the top of the retainer</li> 
					<li>Remove the screws attaching the instrument panel cluster</li>
					<li>Disconnect the wire connectors at the back of the instrument cluster and the bowden wire at the clock</li>
					<li>The speedometer can be removed in the same manner as the instrument cluster after disconnecting the speedometer cable</li>
				</ul>
			</div>
		</div><!-- Row -->
	</div><!-- Container -->
</div><!-- Yellow -->

<!-- Contact -->
<a name="61-2C"></a>
<div class="container">
	<div class="row">
		<h1 style="text-align: center">1961-1962 Chrysler</h1>
		<p class="intro" style="text-align: center">Electroluminescent Gauge Cluster Removal</p>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-1.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-1.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 1:</h3>
			<ul>
				<li>Disconnect the battery ground cable</li>
				<li>Remove the steering wheel</li>
				<li>Remove the steering jacket tube cover from underside of the instrument cluster </li> 
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-2.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-2.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 2:</h3>
			<ul>
				<li>Disconnect all the wires at the terminals. Loosen the six slotted screws which attach the instrument cluster to the dome, approximately one turn. Disconnect the instrument ground wire.</li>
				<li> Remove the screws which attach the instrument cluster bezel to the instrument panel. Remove the bezel and disconnect the speedometer cable.</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-3.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-3.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 3:</h3>
			<ul>
				<li>Loosen the two screws (one each side of steering jacket tube) and remove the steering tube collar</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-4.jpg") %>" style="padding: 0">
				<%= image_tag "tutorials/60C-4.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 4:</h3>
			<ul>
				<li>Remove the two long screws and spacers attaching the dome and cluster assembly to the dome support. These screws are located just behind the steering tube collar attaching screws.</li>
				<li>Remove the four screws attaching the Astradome to the instrument panel</li>
				<li>Carefully release the base of the dome from the supports at each side and with a pointed instrument, carefully move the dome away from the opening in the instrument panel, so that the top of the dome and cluster can be tipped outward, towards you far enough, in order to reach the parking brake warning lamp socket. <span style="color: #bf210a">In some cases where the dome fits tightly in the support, it may be necessary to remove the six slotted machine screws that attach the cluster to the dome. Push the cluster up into the dome, and the dome can then be CAREFULLY compressed to clear the supports on removal.</span></li>
				<li>Snap out the parking lamp socket and bulb and remove the dome and cluster assembly from the car.</li>
				<li>Snap out the turn indicator bulbs and sockets and high beam indicator lamp from the back of the speedometer housing. Remove the four speedometer housing attaching screws and remove speedometer and housing assembly.</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Shipping Instructions:</h3>
			<p>For shipping, reattach the Astradome to the speedometer housing, carefully installing the four speedometer housing screws. Gently tighten the six slotted screws which attach the instrument cluster to the dome. These ten screws must not be over-tightened to avoid cracking the acrylic dome.</p>
			<p>We suggest wrapping the entire instrument cluster assembly with bubble wrap before packing the cluster in a box with a generous amount of packing material. Select a carton large enough to accommodate enough packing material to protect the cluster from shipping damage. Always insure the package.</p> 
		</div>
	</div><!-- Row -->
</div><!-- Container -->

<!-- Contact -->
<a name="61-3I"></a>
<div class="container-yellow">
	<div class="container">
		<div class="row">
			<h1 style="text-align: center">1961-1963 Imperial</h1>
			<p class="intro" style="text-align: center">Electroluminescent Gauge Cluster Removal</p>
			<div class="col-sm-6 col-md-3">
				<%= image_tag "tutorials/fill.png", class: "icon" %>
			</div>
			<div class="col-sm-6 col-md-9">
				<h3>Instructions:</h3>
				<ul>
					<li>Disconnect the battery ground cable</li>
					<li>On cars equipped with heat or air, remove the defroster and spot cooler hoses.</li>
					<li>Disconnect the speedometer cable at the speedometer head.</li> 
					<li>Disconnect the odometer reset cable at the instrument panel cluster. To avoid scratching the paint finish on the instrument panel when the cluster is removed, place several stripes of masking tape on each side of the steering jacket tube.</li> 
					<li>Remove the five screws securing the instrument cluster to the instrument panel. Carefully remove the instrument cluster by tilting the lower end of the cluster outward.</li>
					<li>Disconnect all electrical connections, and disengage the wire harness loom from harness clips.</li>
				</ul>
			</div>
		</div><!-- Row -->
	</div><!-- Container -->
</div>

<!-- Contact -->
<a name="66-7Charger"></a>
<div class="container">
	<div class="row">
		<h1 style="text-align: center">1966-1967 Dodge Charger</h1>
		<p class="intro" style="text-align: center">Electroluminescent Gauge Cluster Removal</p>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/66D-1.png") %>" style="padding: 0">
				<%= image_tag "tutorials/66D-1.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 1:</h3>
			<ul>
				<li>Disconnect the battery ground cable</li>
				<li>Tape the steering column to keep from damaging the finish when removing the cluster.</li>
				<li>Remove heater control knobs by loosening set screws in the undersides of the knobs.</li> 
				<li>Remove radio control knobs and two mounting nuts, if so equipped.</li>
				<li>Open glove box door, and leave it open.</li> 
				<li>From underneath the instrument panel, disconnect the speedometer cable. Remove wire harness from two retainer clips at steering column bracket.</li>
				<li>Remove seven cross recessed screws from upper and lower lips of cluster bezel.</li>
			</ul>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="col-sm-6 col-md-3">
			<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/66D-2.png") %>" style="padding: 0">
				<%= image_tag "tutorials/66D-2.jpg", class: "icon-retro" %>
			</div>
		</div>
		<div class="col-sm-6 col-md-9">
			<h3>Step 2:</h3>
			<ul>
				<li>Carefully, pull the cluster out and to the right, far enough to reach around the left end of the cluster and disconnect the printed circuit board multiple connector.</li>
				<li>Remove the wires from each gauge, including the tachometer. Disconnect the panel lighting (white) wire.</li>
				<li>Roll top of the cluster down while working to the right over the open glove box door.</li>
			</ul>
		</div>
	</div><!-- Row -->
</div><!-- Container -->

<script>
 $('[data-toggle="modal"]').click( function(event) {
 	$('#lightbox-image').attr("src", $(this).data("path"));
 });
 </script>