<div class="modal fade image-previews" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">View Image</h4>
      </div>
      <div class="modal-body">
        <%= image_tag "tutorials/60C-1.jpg", id: "lightbox-image", style: "width: 100%" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/our-services">Services</a></li>
		  <li><a href="/our-services#how">Tutorials</a></li>
		  <li class="active">Gauge Cluster Removal</li>
		</ol>
		<h1 style="text-align: center">Packaging and Shipping Parts</h1>
		<p class="intro" style="text-align: center">We will always return parts to you well cushioned and packaged. However, we want to make sure your parts arrive at our shop safely. Below are some tips for removing the components you need and packaging them to send to our shop.</p>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		          Removing Components
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		        <div class="col-sm-6 col-md-3">
					<!-- Button trigger modal -->
					<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-1.jpg") %>" style="padding: 0">
						<div id="click-text"><h5>Click to enlarge</h5></div>
					 	<%= image_tag "tutorials/60C-1.jpg", class: "icon-retro" %>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<h3>Step 1:</h3>
					<ul>
						<li>Disconnect the battery ground cable</li>
						<li>Remove the steering wheel</li>
						<li>Remove the steering jacket tube cover from underside of the jacket tube</li> 
					</ul>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="col-sm-6 col-md-3">
					<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-2.jpg") %>" style="padding: 0">
						<div id="click-text"><h5>Click to enlarge</h5></div>
						<%= image_tag "tutorials/60C-2.jpg", class: "icon-retro" %>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<h3>Step 2:</h3>
					<ul>
						<li>Disconnect all the wires at the terminals before loosening the cluster attaching screws.</li>
						<li>Remove the two screws (one each side of steering jacket tube) and remove the steering tube bezel</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="col-sm-6 col-md-3">
					<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-3.jpg") %>" style="padding: 0">
						<div id="click-text"><h5>Click to enlarge</h5></div>
						<%= image_tag "tutorials/60C-3.jpg", class: "icon-retro" %>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<h3>Step 3:</h3>
					<ul>
						<li>Remove the two self-locking nuts which retain the instrument cluster and plastic dome retainer to the instrument panel and remove the retainer. These stud nuts can be reached through the opening between the panel and the jacket tube.</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="col-sm-6 col-md-3">
					<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-4.jpg") %>" style="padding: 0">
						<div id="click-text"><h5>Click to enlarge</h5></div>
						<%= image_tag "tutorials/60C-4.jpg", class: "icon-retro" %>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<h3>Step 4:</h3>
					<ul>
						<li>Remove the two screws holding the junction block to the instrument panel and swing the junction block out of the way to allow for loosening of the screws attaching the astrodome supports.</li>
						<li>Carefully pull the supports away from the steering jacket tube to afford clearance and release the base of the cluster from the supports and at the same time, tip the complete unit towards you to clear the back of the cluster from the instrument panel eyebrow.</li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<hr>
				<div class="col-sm-6 col-md-3">
					<div data-toggle="modal" data-target=".image-previews" data-path="<%= asset_path("tutorials/large/60C-5.jpg") %>" style="padding: 0">
						<div id="click-text"><h5>Click to enlarge</h5></div>
						<%= image_tag "tutorials/60C-5.jpg", class: "icon-retro" %>
					</div>
				</div>
				<div class="col-sm-6 col-md-9">
					<h3>Step 5:</h3>
					<ul>
						<li>Disconnect the speedometer cable and the ornament lamp socket at the speedometer head, remove the four screws and remove the speedometer head assembly.</li>
					</ul>
				</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          Packaging Components
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		      <div class="panel-body">
		        <div class="col-sm-6 col-md-3">
					<%= image_tag "tutorials/shipping.png", class: "icon" %>
				</div>
				<div class="col-sm-6 col-md-9">
					<h3>General Guidelines</h3>
					<ul>
						<li>Pad all sharp edges, corners, and burrs of parts such as sheet metal or bare metal.</li>
						<li>Pad or cover precision-machined areas of parts, such as threads and fittings.</li>
						<li>Protect all parts that are susceptible to damage due to dents, scratches, and scuffing by using an appropriate amount of cushioning material and placing in a sturdy shipping container.</li> 
						<li>Place documentation and shipping or routing labels on flat surfaces that will allow for maximum adhesion. Avoid placing labels on curved surfaces.</li>
						<li>Drain and empty parts filled with lubricant fluids before shipping or test that the shipment is leakproof under all orientations.</li>
					</ul>
				</div>
		      </div>
		    </div>
		  </div>
		</div>
	</div><!-- Row -->
</div><!-- Container -->

<script>
	$('[data-toggle="modal"]').click( function(event) {
		$('#lightbox-image').attr("src", $(this).data("path"));
	});

  $('[data-toggle="modal"]').hover( 
  	function(event) {
	 		$( this ).children("img").first().fadeTo( "fast", 0.2, 
	 			function(event) {
	 				$( this ).siblings("#click-text").first().show();
	 			}
	 		);
	 	}, function(event) {
	 		$( this ).children("img").first().fadeTo( "fast", 1.0, 
	 			function(event) {
	 				$( this ).siblings("#click-text").first().hide();
	 			}
	 		);
	 	}
 );
 </script>