<div class="container">
  <div class="row">
    <ol class="breadcrumb" style="text-align: left">
      <li><%=link_to admin_services_path do %>Services<% end %></li>
      <li><%=link_to edit_admin_service_path(@service) do %><%= @service.name %><% end %></li>
      <li class="active">Images</li>
    </ol>
    <div class="col-md-6">
      <h2><%= @service.name %></h2>
    </div>
    <div class="col-md-6" style="padding-top: 26px">
      <%= button_link_to("New Image", new_admin_service_service_image_path(@service), { class: "btn-success", icon: 'add', id: 'new_image_link' }) %>
      <%= button_link_to("Back to Service", edit_admin_service_path(@service), { class: "btn-info", icon: 'add' }) %>
    </div>
    <div id="content" class="col-md-12" style="margin-top: 25px">
      <%= flash_messages %>
    </div>
    <table class="table sortable" data-hook="images_table">
      <thead>
        <tr data-hook="images_header">
          <th colspan="2">
            <%= Spree.t(:thumbnail) %>
          </th>
          <th>
            <%= Spree.t(:alt_text) %>
          </th>
          <th>
            Main Image?
          </th>
          <th>
            Main Thumb?
          </th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% (@service.service_images).each do |image| %>
          <tr id="<%= spree_dom_id image %>" data-hook="images_row">
            <td class="image" colspan="2">
              <%= link_to image_tag(image.image_path), image.image_path %>
            </td>
            <td><%= image.description %></td>
            <td><%= image.main_image ? "Yes" : "No" %></td>
            <td><%= image.thumb_image ? "Yes" : "No" %></td>
            <td class="actions actions-2 text-right">
              <%= link_to(Spree.t(:edit), edit_admin_service_service_image_path(@service, image), :method => :get, class: 'btn btn-primary btn-sm') %>
              <%= link_to('delete', admin_service_service_image_path(@service, image),  data: { confirm: 'Are you sure?' }, :method => :delete, class: 'btn btn-warning btn-sm') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- Container -->
</div><!-- Container -->

