 <div class="container">
  <div class="row">
  	<ol class="breadcrumb" style="text-align: left">
      <li><%=link_to admin_services_path do %>Service<% end %></li>
      <li><%=link_to edit_admin_service_path(@service) do %><%= @service.name %><% end %></li>
      <li><%=link_to admin_service_service_images_path(@service) do %>Images<% end %></li>
      <li class="active">New Image</li>
    </ol>
  	<h2><%= @service.name %></h2>
    <h3><%= Spree.t(:new_image) %></h3>

		<%= form_for [:admin, @service, @image], html: { multipart: true } do |f| %>
	    <%= render partial: 'form', locals: { f: f } %>

	    <div class="form-actions" data-hook="buttons">
	      <%= button Spree.t('actions.update'), 'save' %>
	      <span class="or"><%= Spree.t(:or) %></span>
	      <%= button_link_to Spree.t('actions.cancel'), admin_service_service_images_path(@service), icon: 'delete', id: 'cancel_link' %>
	    </div>
		<% end %>
	</div>
</div>
