 <div class="container">
  <div class="row">
    <ol class="breadcrumb" style="text-align: left">
      <li><%=link_to admin_events_path do %>Events<% end %></li>
      <li><%=link_to edit_admin_event_path(@event) do %><%= @event.name %><% end %></li>
      <li><%=link_to admin_event_event_images_path(@event) do %>Images<% end %></li>
      <li class="active">New Image</li>
    </ol>
    <h2><%= @event.name %></h2>
    <h3><%= Spree.t(:edit_image) %></h3>

    <%= form_for [:admin, @event, @image], html: { multipart: true } do |f| %>
      <div data-hook="edit_image" class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= @image.attachment_file_name%>
          </h2>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div data-hook="thumbnail" class="col-md-3 text-center">
              <%= f.label Spree.t(:thumbnail) %>
              <%= link_to image_tag(@image.attachment.url(:thumb)), @image.attachment.url(:large) %>
            </div>
            <div class="col-md-9">
              <%= render partial: 'form', locals: { f: f } %>
            </div>

            <div class="form-actions" data-hook="buttons">
              <%= button Spree.t('actions.update'), 'save' %>
              <span class="or"><%= Spree.t(:or) %></span>
              <%= button_link_to Spree.t('actions.cancel'), admin_event_event_images_path(@event), id: 'cancel_link', icon: 'delete' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
