<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :description, Spree.t(:alt_text) %>
      <%= f.text_area :description, :rows => 4, :class => 'form-control' %>
    </div>


    <div class="form-group">
      <%= f.check_box :our_car %>
      <%= f.label :our_car, Spree.t(:our_car) %>
    </div>

    <div class="form-group">
      <%= f.check_box :current %>
      <%= f.label :current, Spree.t(:current) %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-default"%>
    </div>
<% end %>
