<div class="container">
  <div class="row">
		<h1>Editing <%= @car.name %></h1>

		<%= render 'form' %>

		<%= link_to 'Show', @car %> |
		<%= link_to 'Back', cars_path %> |
		<%= link_to 'Images', car_car_images_path(@car) %>
	</div>
</div>

