<div class="container">
	<div class="row row-centered">
		<div class="col-md-12 text-center">
			<h1><%= @car.name %></h1>
			<p class="intro"><%= @car.description %></p>
		</div>

		<% images = @car.car_images %>
		<% first = true %>

		<% if images.length > 0 %>
			<div class="gallery_container_mobile" style="position: relative; top: 0; left:0;">
				<%= link_to "/", class: "gallery-arrow-left", id: "mobile-left" do %>

				<% end %>
				<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%", class: "gallery_main" %>
				<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%; visibility: hidden; display: none", class:"placeholder" %>
				<%= link_to "/", class: "gallery-arrow-right", id: "mobile-right" do %>

				<% end %>
			</div>

			<!-- Main Gallery Image -->
			<div class="col-md-9">
				<div class="gallery_container">
					<%= link_to "/", class: "gallery-arrow-left" do %>
						<%= image_tag "arrow-02.png", alt: "previous", id: "previous", style: "display: none" %>
					<% end %>
						<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%", class:"gallery_main" %>
						<%= image_tag images[0].attachment.url(:large), alt: "#{images[0].description}", style: "width: 100%; visibility: hidden; display: none", class:"placeholder" %>
					<%= link_to "/", class: "gallery-arrow-right" do %>
						<%= image_tag "arrow-01.png", alt: "next", id: "next", style: "display: none" %>
					<% end %>
				</div>
				<div id="caption">
					<h5 id="caption-header" style="display: <%= (images[0].state == "no_state") ? 'none' : 'inline-block' %>" ><%= Spree.t(images[0].state) %></h5>
					<p id="caption-text"><%= images[0].description.html_safe %></p>
				</div>
			</div>

			<div class="col-md-3">
				<% states = [ {:symbol => :no_state, :title => "Images", :array => images.no_state },
							  {:symbol => :before, :title => "Before", :array => images.before },
							  {:symbol => :during, :title => "During", :array => images.during },
							  {:symbol => :after, :title => "After", :array => images.after } ] %>
				<% states.each do |state| %>
					<% next if state[:array].length == 0 %>
					<h5><%= state[:title] %></h5>
					<% state[:array].each do |image| %>
						<div class="col-xs-2 col-sm-2 col-md-3 col-centered <%= first ? "thumb_selected" : "" %>" id="imageGallery_thumb">
							<a href=<%= "#{asset_path(image.attachment.url(:large))}" %>>
								<%= image_tag image.attachment.url(:thumb), alt: image.description, class: "icon", :data => { :path => "#{asset_path(image.attachment.url(:large))}", :state => state[:title] } %>
							</a>
							<% if first %>
								<% first = false %>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</div>
		<% else %>
			<h3>No Images Available</h3>
		<% end %>
	</div><!-- row -->
</div>

<div class="container-yellow">
	<div class="container">
		<div class="row text-center row-centered">
			<div class="col-md-12">
				<h1>Check out Our Other <%= @is_our_car ? "Cars" : "Projects" %></h1>
				<p class="intro">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>

			<% @cars.each_with_index do |car, index| %>
				<% if car === @car %>
					<!-- Do not list car on its own page -->
				<% else %>
					<div class="col-xs-12 col-sm-6 col-md-4 col-centered">
						<%= image_tag car.thumb, class: "icon-retro", style: "margin-bottom: 20px" %>
						<div class="clearfix visible-xs"></div>
						<%= link_to car.name, car, class: "button-link" %>
						<!-- Add break to right location -->
						<% if index === 1 %>
							<!-- handle sm screen -->
							<div class="clearfix visible-sm"></div>
							<div class="spacer visible-sm"></div>
						<% elsif index === 2 %>
							<!-- handle md and lg screen -->
							<div class="clearfix visible-md visible-lg"></div>
							<div class="spacer visible-md visible-lg"></div>
						<% elsif index === 3 %>
							<!-- handle sm screen -->
							<div class="clearfix visible-sm"></div>
							<div class="spacer visible-sm"></div>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- 
<p id="notice"><%= notice %></p>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
-->

<script type="text/javascript">
	$(document).ready( function() {
		$("#next").show();
		$("#previous").show();
	});
</script>