<p id="notice"><%= notice %></p>

<h1>Listing Our Cars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @our_cars.each do |our_car| %>
      <tr>
        <td><%= link_to 'Show', our_car %></td>
        <td><%= link_to 'Edit', edit_our_car_path(our_car) %></td>
        <td><%= link_to 'Destroy', our_car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Our car', new_our_car_path %>
