<div class="container">
	<div class="row row-centered">
		<div class="col-md-12 text-center">
			<h1><%= @our_car.name %></h1>
			<p class="intro"><%= @our_car.description %></p>
		</div>
		<% images = @our_car.our_car_images %>
		<% first = true %>
		<div class="col-md-12">
			<div class="gallery_container">
				<%= image_tag images[0].image_path, alt: "#{images[0].description}", style: "width: 100%", id:"gallery_main" %>
			</div>
			<div id="caption">
				<p><%= images[0].description %></p>
			</div>
		</div>
		<% images.each do |image| %>
		<div class="col-xs-6 col-sm-4 col-md-2 col-centered" id="imageGallery">
			<a href=<%'#{asset_path(image.image_path)}' %>>
				<!-- Set first thumb as selected -->
				<% if first %>
				<%= image_tag "thumbs/" + image.image_path, alt: image.description, class: "icon thumb_selected", :data => { :path => "#{asset_path(image.image_path)}" } %>
				<% first = false %>
				<% else %>
				<%= image_tag "thumbs/" + image.image_path, alt: image.description, class: "icon", :data => { :path => "#{asset_path(image.image_path)}" } %>
				<% end %>
			</a>
		</div>
		<% end %>			
	</div><!-- row -->
</div>

<p id="notice"><%= notice %></p>

<!-- 
<%= link_to 'Edit', edit_our_car_path(@our_car) %> |
<%= link_to 'Back', our_cars_path %>
-->
