<!DOCTYPE html>
<html>
<head>
  <title>JCAuto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Sonsie+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<%= render :partial => 'spree/shared/header' %>

<%= yield %>

<%= render :partial => 'spree/shared/footer' %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<%= javascript_include_tag "hammer.js" %>
<%= javascript_include_tag "image-hover.js" %>
<%= javascript_include_tag "odometer.min.js" %>
<%= javascript_include_tag "main.js" %>
<%= javascript_include_tag "modernizr.js" %>
<%= javascript_include_tag "jquery.zoom.min.js" %>
<%= javascript_include_tag "spree/frontend/checkout/shipping_prices.js" %>
<%= javascript_include_tag "admin.js" %>
</body>
</html>
