<div class="container">
  <div class="row">
    <%= button_link_to("New Image", new_car_car_image_path(@car), { class: "btn-success", icon: 'add', id: 'new_image_link' }) %>
    <%= button_link_to("Back to Car", car_path(@car), { class: "btn-info", icon: 'add' }) %>
  </div>

  <div class="row">
    <table class="table sortable" data-hook="images_table">
      <thead>
        <tr data-hook="images_header">
          <th colspan="2">
            <%= Spree.t(:thumbnail) %>
          </th>
          <th>
            <%= Spree.t(:alt_text) %>
          </th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% (@car.car_images).each do |image| %>
          <tr id="<%= spree_dom_id image %>" data-hook="images_row">
            <td class="image" colspan="2">
              <%= link_to image_tag(image.attachment.url(:thumb)), image.attachment.url(:large) %>
            </td>
            <td><%= image.description %></td>
            <td class="actions actions-2 text-right">
              <%= link_to(Spree.t(:edit), edit_car_car_image_path(@car, image), :method => :edit, class: 'btn btn-primary btn-sm') %>
              <%= link_to('delete', car_car_image_path(@car, image),  data: { confirm: 'Are you sure?' }, :method => :delete, class: 'btn btn-warning btn-sm') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- Container -->
</div><!-- Container -->

