 <div class="container">
  <div class="row">
    <h1><%= Spree.t(:new_image) %></h1>
    <p id="error"><%= flash[:error] %></p>
		<p id="notice"><%= flash[:notice] %></p>
  </div>
  <div class="row">
		<%= form_for [@car, @image], html: { multipart: true } do |f| %>
		  <fieldset data-hook="new_image">
		    <%= render partial: 'form', locals: { f: f } %>

		    <div class="form-actions" data-hook="buttons">
		      <%= button Spree.t('actions.update'), 'save' %>
		      <span class="or"><%= Spree.t(:or) %></span>
		      <%= button_link_to Spree.t('actions.cancel'), car_car_images_path(@car), icon: 'delete', id: 'cancel_link' %>
		    </div>
		  </fieldset>
		<% end %>
	</div>
</div>
